<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    design
 * @package     default_default
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

<script type="text/javascript">
//<![CDATA[
    function initSlydepay() {
        if (!document.getElementById("slydepay_settings_activationstatus")) {
            // Don't perform for website and store view
            return;
        }
        document.getElementById("slydepay_settings_activationstatus").style.display = "none";
        $('slydepay_settings_activationstatus').up().insert('<button type="button" id="slydepay_multifuncbutton" onclick="slydepay.button()" style="display: none; margin-top: 1em;"><span id="slydepay_multifuncbutton_label" style="display:block; margin-top:1em;"></span></button>');
        $('slydepay_settings_activationstatus').up().insert('<span id="slydepay_inf_div" style="display:block; margin-top:1em;"></span>');
        $('slydepay_settings_activationstatus').up().insert('<input id="slydepay_settings_customer_id_hidden" type="hidden"/>');
        slydepay = new Slydepay('<?php echo $this->getSkinUrl('images/slydepay/banner.jpg'); ?>', '<?php echo $this->getUrl('*/slydepay/activateemail'); ?>', '<?php echo $this->getUrl('*/slydepay/checksecret'); ?>', '<?php echo $this->getUrl('*/slydepay/checkemail');?>');
    }
//]]>
</script>

