<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
 
<?php 

/**
 * get seller id
 */
$id = $this->getRequest()->getParam('id');

/**
 * Get Customer vacation mode
 */
$vacationModeVal = Mage::getModel('marketplace/vacationmode')->load($id,'seller_id');
/**
 * Get Vacation Status
*/
$vacationStatus = $vacationModeVal->getVacationStatus();

/**
 * Get Customer Data
 */
$customerData = Mage::getModel('customer/customer')->load($id);


/**
 * Get Current Date
 */
$currentDate = Mage::getModel('core/date')->date('Y-m-d');

/**
 * Get Current url
 */
$currentUrlVal = Mage::helper('core/url')->getCurrentUrl();

/**
 * display product collection
 */
$sellerPage = Mage::getModel('marketplace/sellerprofile')->collectprofile($id);

    /**
     * Display Reviews and Ratings
     */
    $displaySeller  = Mage::getModel('marketplace/sellerreview')->displayReview($id);
    $firstStarRating     = $secondStarRating = $thirdStarRating = $fourthStarRating = $fifthStarRating = $advancedTotal = $ratingbar_color = 0;
   
    /**
     * ITERATING ALL RATINGS
     */ 
    $advancedTotal=0;
    foreach ($displaySeller as $individualStar) {
        $advancedTotal = $advancedTotal + 1;
        /**
         *  Check the individual rating is equal to 1
         *  if so increment the first star value by 1
         */
        if ($individualStar['rating'] == 1) {
            $firstStarRating = $firstStarRating + 1;
        } 
        /**
         *  Check the individual rating is equal to 2
         *  if so increment the second star value by 1
         */
        elseif ($individualStar['rating'] == 2) {
            $secondStarRating = $secondStarRating + 1;
        } 
        /**
         *  Check the individual rating is equal to 3
         *  if so increment the third star value by 1
         */
        elseif ($individualStar['rating'] == 3) {
            $thirdStarRating = $thirdStarRating + 1;
        } 
        /**
         *  Check the individual rating is equal to 4
         *  if so increment the fourth star value by 1
         */
        elseif ($individualStar['rating'] == 4) {
            $fourthStarRating = $fourthStarRating + 1;
        } 
        /**
         *  Check the individual rating is equal to 5
         *  if so increment the fifth star value by 1
         */
        else {
        if($individualStar['rating'] == 5) {
        $fifthStarRating = $fifthStarRating + 1;
        }
        }
    }
    
    /**
     * CALCULATING INDIVIDUAL RATINGS    
     */ 
    /**
     *  Intialising 0 value to variables like
     *  advanced one
     *  advanced two
     *  advanced three
     *  advanced four
     *  advanced five
     */
    $advancedOne = $advancedTwo = $advancedThree = $advancedFour = $advancedFive = 0;
    /**
     *  Check advanced total is greater than or equal to 1
     */
    if($advancedTotal != 0){   
    $advancedOne   = ($firstStarRating / $advancedTotal) * 100;
    $advancedTwo   = ($secondStarRating / $advancedTotal) * 100;
    $advancedThree = ($thirdStarRating / $advancedTotal) * 100;
    $advancedFour  = ($fourthStarRating / $advancedTotal) * 100;
    $advancedFive  = ($fifthStarRating / $advancedTotal) * 100;
    }
    $positiveFeedBack = ($advancedFour + $advancedFive)/2;
    $totalRatings = $firstStarRating + $secondStarRating + $thirdStarRating + $fourthStarRating + $fifthStarRating;
   
    ?>      
      <div class="block"> 
      
      <div class="block-title"><strong><span><?php echo $this->__('Feedback Ratings'); ?></span></strong></div>
       <div class="block-content"><div class="individual-star-ratings">
       <ul class="rating-histogram">
            <li class="advanced-font-small"><span><?php
            /**
             * Show 5 star ratings 
             */
            echo $this->__('5 Stars'); ?></span>
                <div class="rating-bars">
                    <div class="progress  " style="width:<?php echo ceil($advancedFive); ?>%; background-color: <?php
                     echo '#' . $ratingbar_color; ?> !important;"></div>
                </div> &nbsp;<strong><?php echo $fifthStarRating; ?> </strong>
            </li>
            <li class="advanced-font-small"><span><?php
            /**
             * Show 4 star ratings
             */
            echo $this->__('4 Stars'); ?></span>
                <div class="rating-bars">
                    <div class="progress  " style="width:<?php echo ceil($advancedFour); ?>%; background-color: <?php
                     echo '#' . $ratingbar_color; ?> !important;"></div>
                </div> &nbsp;<strong><?php echo $fourthStarRating; ?> </strong>
            </li>
            <li class="advanced-font-small"><span><?php 
            /**
             * Show 3 star ratings
             */
            echo $this->__('3 Stars'); ?></span>
                <div class="rating-bars">
                    <div class="progress  " style="width:<?php echo ceil($advancedThree); ?>%; background-color: <?php
                     echo '#' . $ratingbar_color; ?> !important;"></div>
                </div> &nbsp;<strong><?php echo $thirdStarRating; ?> </strong>
            </li>
            <li class="advanced-font-small"><span><?php
            /**
             * Show 2 star ratings
             */
            echo $this->__('2 Stars'); ?></span>
                <div class="rating-bars">
                    <div class="progress  " style="width:<?php echo ceil($advancedTwo); ?>%; background-color: <?php
                     echo '#' . $ratingbar_color; ?> !important;"></div>
                </div> &nbsp;<strong><?php echo $secondStarRating; ?> </strong>
            </li>
            <li class="advanced-font-small"><span><?php
            /**
             * Show 1 star ratings
             */
            echo $this->__('1 Stars'); ?></span>
                <div class="rating-bars">
                    <div class="progress  " style="width:<?php echo ceil($advancedOne); ?>%; background-color: <?php
                     echo '#' . $ratingbar_color; ?> !important;"></div>
                </div> &nbsp;<strong><?php echo $firstStarRating; ?> </strong>
            </li>
        </ul>

        <div class="positive_review_ratings">            
            <div class="positive_review_positive"><?php echo $this->__('Positive'); ?></div>
            <div class="positive_review_neutral"><?php echo $this->__('Neutral'); ?></div>
            <div class="positive_review_negative"><?php echo $this->__('Negative'); ?></div>
        </div>  
                               
        <div class="customer_review">
        <?php
        /**
         * Get Reviews and Ratings 
         */ 
        $reviewCount = Mage::helper('marketplace/common')->getallreviewdata($id);
        /**
         * Check the review count is greater than zero
         * if it is diplay option to view all reviews
         */
        if (count($reviewCount) > 0) { 
            $customerId = $productId = '';?>            
            <a class="mp_view_all" href='<?php echo $this->getAllreview($customerId, $id, $productId); ?>'> <?php
             echo $this->__('View all Reviews'); ?> </a>
                
        <?php  }
        if (Mage::getStoreConfig('marketplace/seller_review/enable_review')) {
            /**
            * Check the customer is logged in currently
            */
            if (Mage::getSingleton('customer/session')->isLoggedIn()) {
                /**
                * Get the customer id
                */
                $customerId    = Mage::getSingleton('customer/session')->getId();
                /**
                 * Get the customer orders
                 */
                $orders        = Mage::helper('marketplace/common')->allowReview($customerId);
                /**
                 * Get order id
                 */
                $orderId       = $orders->getFirstItem()->getId();
                /**
                 * Get the order created date
                 */
                $endDate       = $orders->getFirstItem()->getCreatedAt();
                /**
                 * Get Current Date
                 */
                $currentDate   = Mage::getModel('core/date')->date('Y-m-d H:i:s');
                /**
                 * Get days between order created date and the current date
                 */
                $days           = abs(strtotime($currentDate) - strtotime($endDate));
                $years          = floor($days / (365*60*60*24));
                $months         = floor(($days - $years * 365*60*60*24) / (30*60*60*24));
                $diff           = floor(($days - $years * 365 * 60 * 60 * 24 - $months * 30 * 60 * 60 * 24) / (60 * 60 * 24));
                $order          = Mage::getModel('sales/order')->load($orderId);
                /**
                 * Get all the order items
                 */
                $items          = $order->getAllItems();
                $getitem        = array_slice($items, -1, 1, true);
                foreach ($getitem as $item) {
                /**
                * Get the product id
                */
                    $productId     = $item->getProductId();
                    /**
                     * Get the products
                     */
                    $products       = Mage::getModel('catalog/product')->load($productId);
                    /**
                     * Get the prodcut seller information
                     */
                    $productSeller = $products->getSellerId();                   
                    $checkReview    = Mage::getModel('marketplace/sellerreview')->checkReview($customerId, $id, $productId);
                    /**
                     * check the difference is less than or equal to 30
                     * and product seller is equal to the current id
                     * and check review is equal to empty
                     * if conditions satisfied show an option to writer a review for that seller
                     */
                    if ($diff <= 30 && $productSeller == $id && $checkReview == '') {
                        ?>
                         <a href='<?php echo $this->getAllreview($customerId, $id, $productId) . '#seller_review'; ?>'> <?php
                          echo $this->__('Write a Review to this Seller'); ?> </a> 
                 
            <?php
            }
        }
    } else { ?>       
                <div>
                    <h6><?php echo $this->__('Have you bought something from this seller?'); ?> </h6>
                    <a class="mp_view_allreview" href='<?php echo $this->loginUrl(); ?>'> <?php
                    /**
                     * Option to login to review
                     */
                     echo $this->__('Login to Review'); ?> </a>
               </div>
    <?php }
} ?></div>    </div>
</div></div>