<html>
<body>
<script>
var $j = jQuery.noConflict();

</script>
<?php 
$_customer = Mage::getSingleton('customer/session');
$customerid=$_customer->getCustomerId();
$groupId = $_customer->getCustomerGroupId();
$_product=Mage::registry('current_product');
$seller_id = $_product->getSellerId();
if(($customerid) && ($seller_id != $customerid)) { ?>

<div class="request_chat">
<ul>
 <li class="online_user_list">
		<?php
			$_product=Mage::registry('current_product'); 
			$productowner=Mage::getModel('marketplace/userprofile')->isCustomerProducttemp($_product['entity_id']);
			
			if($productowner['userid']!=""){

				$customerid=Mage::getSingleton('customer/session')->getCustomerId();
				if($customerid){
					$collection = Mage::getModel('log/visitor_online')->prepare()->getCollection()
								->addFieldToFilter('customer_id',array('eq'=>$productowner['userid']));
					
					if($customerid==$productowner['userid']){
						$collection->addFieldToFilter('customer_id',array('neq'=>$customerid));
					}
					$collection->addFieldToSelect('customer_id');
					$collection->distinct(true);
					$collection->addCustomerData();
					$buyerids = array();
					if($collection->getSize() > 0){
					foreach($collection as $buyer){
						$buyer=Mage::getModel('customer/customer')->load($buyer->getCustomerId());?>
                         <div class="block-title"> <strong><span>Request for chat</span></strong></div>
							<div class="wk_cs_chat_buddies c_buddies" id="list-<?php echo $buyer->getId() ?>">
						    <span>Chat Online</span>
							<span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l"></span>
							<span class="wk_cs_buddy_name cs_name"><?php echo $buyer->getName();?></span>
						</div>	
					<?php
					}
				}else{ ?>
					
					 <div class="block-title" style="display: none"> <strong><span>Request for chat</span></strong></div>
							<div class="wk_cs_chat_buddies c_buddies">
						    <span onclick="$j('.common_popup,.overlay').show();">LEAVE MESSAGE(VENDOR OFFLINE)</span>
							<span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l"></span>
							
						</div>	
					
					
			<?php 	}}
			}?>
	</li>
<?php } ?>

<?php  if(!Mage::getSingleton('customer/session')->isLoggedIn()){
	$_product=Mage::registry('current_product');
	$productowner=Mage::getModel('marketplace/userprofile')->isCustomerProducttemp($_product['entity_id']);
	if($productowner['userid']!=""){
        $collection = Mage::getModel('log/visitor_online')->prepare()->getCollection()
          ->addFieldToFilter('customer_id',array('eq'=>$productowner['userid']));
        $collection->addFieldToSelect('customer_id');
        $collection->distinct(true);
        $collection->addCustomerData();
        if($collection->getSize() > 0){
        foreach($collection as $buyer){ ?>

    <li class="online_user_list">
    
    <div class="block-title" style="display: none;"> <strong><span>Request for chat</span></strong></div>
      <div class="wk_cs_chat_buddies c_buddies">
      
			<span><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>">CHAT NOW(VENDOR ONLINE)</a></span>
		<span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l"></span>
     </div>
   </li>


	<?php } }else{ ?>
		
		 <li class="online_user_list">
    
          <div class="block-title" style="display: none;"> <strong><span>Request for chat</span></strong></div>
           <div class="wk_cs_chat_buddies c_buddies">
            <span><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" >LEAVE MESSAGE(VENDOR OFFLINE)</a></span>
		    <span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l"></span>
          </div>
      </li>
	<?php }
}

}?>

<?php 

if (Mage::getSingleton('customer/session')->isLoggedIn()) {
   $customer = Mage::getSingleton('customer/session')->getCustomer();
?>

<div class="overlay">
<div id="common_popup" class="common_popup" style = "display:none">
<a href="#" class="close_form" onclick="$j('.common_popup,.overlay').hide();">X</a>
<form action="<?php echo Mage::getUrl('marketplace/seller/message',array('_secure'=>true)); ?>" id="customerMessage"  method="post">
<ul class="customermessagepopup">
<input type="hidden" name="product_id" value="<?php echo $_product['entity_id'];?>"/>
<input type="hidden" name="seller_id" value="<?php echo $_product->getSellerId();?>"/>
<li><label><?php echo $this->__('Name'); ?><span class="required">*</span></label>
<span>
<input type="text" name="name" value="<?php echo $customer->getName(); ?>" class="input-text required-entry"/></li>
</span>
<li><label><?php echo $this->__('Email'); ?><span class="required">*</span></label>
<span>
<input type="text" name="email" value="<?php echo $customer->getEmail(); ?>" class="input-text required-entry"/></li>
</span>
<li><label><?php echo $this->__('Message'); ?><span class="required">*</span></label>
<span>
<textarea name="message" cols="22" rows="5" class="input-text required-entry"></textarea></li>
</span>
<li><button type="submit" name="contactsellerform" class="submitbutton"><?php echo $this->__('Submit'); ?></button></li>
</ul>
</form>
</div>
</div>
<?php } ?>
<style>
.overlay {position: fixed;top: 0;bottom: 0;left: 0;right: 0;width:100%;height:100%;background: rgba(0, 0, 0, 0.7);z-index:999999;display:none}
.common_popup{margin: 70px auto;padding: 20px;background: #fff;border-radius: 5px;width: 30%;position: relative;transition: all 5s ease-in-out;z-index:9999999;}

</style>

<script type="text/javascript">

    //<![CDATA[



    var Propertyform = new VarienForm('customerMessage', true);

    $('customerMessage').reset();

    //]]>

</script>
</body>
<?php if(($customerid) && ($groupId != '6') ) { ?>
	<script type="text/javascript">
		var $j = jQuery.noConflict();		
		function deselect(e) {
			  $j('.requeschattpop').slideFadeToggle(function() {
			    e.removeClass('selected');
			  });    
		}
		$j(function() {
		  $j('#contact').on('click', function() {
		    if($j(this).hasClass('selected')) {
		      deselect($j(this));               
		    } else {
		      $j(this).addClass('selected');
		      $j('.requeschattpop').slideFadeToggle();
		    }
		    return false;
		  });
	
		  $j('.requestclose').on('click', function() {
		    deselect($j('#contact'));
		    return false;
		  });
		});
	
		$j.fn.slideFadeToggle = function(easing, callback) {
		  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
		};
		
	    //<![CDATA[
	        Calendar.setup({
	            inputField: "selected_date",
	            ifFormat: "%d/%m/%Y %H:%M:%S",
	            showsTime: true,
	            button: "date_select_trig",
	            align: "Bl",
	            singleClick : true,
	            disableFunc: function(date) {
	
	    			var now= new Date();
	    			if(date.getFullYear()<now.getFullYear())
	    			{
	    			return true;
	    			}
	    			if(date.getFullYear()==now.getFullYear())
	    			{
	    			if(date.getMonth()<now.getMonth())
	    			{
	    			return true;
	    			}
	    			}
	    			if(date.getMonth()==now.getMonth())
	    			{
	    			if(date.getDate()<now.getDate())
	    			{
	    			return true;
	    			}
	    			}
	    		},
	        });
	    //]]>
	
	    function requestchat() {
			var selected_Date = $j("#selected_date").val();
			if(selected_Date == '') {
				$j(".request_date_warning").show();
				return false;
			} else {
				$j(".request_date_warning").hide();
				return true;
			}
		}
	</script>
<?php } ?>	
</html>