
/* Content ==================================================*/ 
.header_tag{
      display: inline-block;
    width: 100%;
 p{ font-weight: 700; color: #222; line-height: 28px;
  a { font-weight: 400; }
}
}
/*top_banner_static */
.top_banner_static { position: relative; display: inline-block; width: 100%;     margin-bottom: 11px;
  .column { width:33.333333%; float: left; position: relative; background: #000; overflow: hidden;
    a { 
      font-size: 13px; 
      font-family: $font-custom; 
      font-weight: 400; 
      color: #fff; 
      position: absolute; 
      text-transform: capitalize; 
      bottom: 15%;
      left: 5%;
      padding: 0 18px;
      line-height: 35px;
      background: #545e70;
      @include border-radius(35px);
      z-index: 9;
      @include transition(0.4s);
      &.col2:hover, &.col3:hover a { color: #fff; background: $main-color; }
      
    }
    img { @extend .transition; }
  &.col1{ a{ 
    font-size: 42px; 
    text-transform: uppercase; 
    font-weight: 700; 
    padding:22px 22px;
    border: 8px solid #fff; 
    background: none !important;
    left: 50%;
    margin-left: -148px;
    bottom: 50%;
    margin-bottom: -47px;
    @include border-radius(0);  
    
    }
    &:hover img { opacity: 0.5;  }
    &:before, &:after { display: none; }
  }
  &.col2 { 

    a { color: #d0d0d0; background: #353638;  
      &:hover { color: #fff; background: $main-color; }
    } 
    
    }
  &.col3 a:hover { color: #fff; background: $main-color; }

    &.col2:hover, &.col3:hover{
     a {
      -webkit-animation: pulse 0.4s linear infinite alternate;
      -moz-animation: pulse 0.4s linear infinite alternate;
      -ms-animation: pulse 0.4s linear infinite alternate;
      animation: pulse 0.4s linear infinite alternate;
    }
  }
    &:before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
    }
    &:after {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      -webkit-transform: scale(1,0);
      transform: scale(1,0);
    }
    &:before, &:after {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
      }
    &:hover:before, &:hover:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

/*Banner Content*/
.banner_content { position: relative; margin-bottom: 15px;
  a { 
    font-size: 12px; 
    font-family: $font-custom; 
    color: #fff; 
    background: #57529e; 
    position: absolute; 
    bottom: 19%; 
    left: 50%;
    margin-left: -87px; 
    text-transform: uppercase; 
    letter-spacing: -0.5px;     
    padding: 10px 25px; 
    @include transition(0.4s);
    @include border-radius(35px); 
    &:hover { background:  $main-color; }
  }
 }




// banner left
.banner_left { position: relative; margin-bottom: 20px;
  .banner_box{
      border: 1px solid #e5e5e5;

      margin-bottom: 4px;
      padding-left: 85px;
      background-image: url(../images/banner_left.png);
      background-repeat: no-repeat;
      padding: 38px 0 24px 85px;
      background-color: transparent;
      @include transition(0.3s);
      &.box1 {     background-position: 18px -5px; }
      &.box2 {    background-position: 18px -123px; }
      &.box3 {     background-position: 18px -241px; }
      &.box4 {     background-position: 18px -361px; }
    h3 { font-size: 18px; font-weight: 700; font-family: $font-custom; color: #303030; text-transform: capitalize;     letter-spacing: -0.5px; margin:0 ;    line-height: 20px;  }
    p { font-size: 14px; color: #888; }
    &:hover { background-color: #f6f6f6; }
  }

}




/*Footer Social*/
.footer .footer_social {
  text-align: right;
  display: inline-block;
    width: 100%;
    margin:0;
  li {
      display: inline-block;
      margin-left: 2px;
    a {
      img { @include border-radius(2px); opacity: 0.7; }

    &:hover { img { opacity: 1; } }
    }

  }

}







/* Banner home right*/
.cms-index-index .banner_right { display: block; }
.banner_right {
  display: none;
  position: absolute;
    z-index: 99;
    top: 1px;
    right: 10px;}
.banner_right .banner_content { position: relative; }
.banner_right .banner_content a { 
  position: absolute; 
  font-size: 13px; 
  font-weight: 400; 
  color: #fff; 
  text-transform: capitalize; 
  z-index: 999; top: 31.5%;
  left: 10%;
  padding: 0px 18px;
  bottom: auto;
  margin:0; 
  letter-spacing: 0;
  font-family: Montserrat;
  line-height: 35px; 
  @include border-radius(35px);
  @include transition(0.5s);
  background: #2d406f;
  &:hover { background: $main-color; }
}


/* About Us */

.about-page {
  .block-title {
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin: 25px 0 17px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      display: inline-block;
      position: relative;
      padding: 0px 20px;
      min-width: 200px;
      &:after {
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: -7px;
        left: 0px;
        content: '';
        background: #db4c52;
      }
    }
  }
  .col-sm-8 img {
    float: left;
    margin: 0px 20px 20px 0px;
    max-width: 380px;
    border: 1px solid #bebebe;
  }
}

.red-color {
  color: #000000;
}

.about-page p {
  line-height: 22px;
  font-size: 13px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.service-box li, .leadership-block li {
  width: 48%;
  margin: 10px 0;
}

.service-box .icon-block {
  margin: 0px 20px 20px 0px;
  padding: 2px;
  border-radius: 50%;
  .fa {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 36px;
    line-height: 80px;
    border: 3px solid #e2e2e2;
    color: #fff;
    background: $main-color;
  }
  span {
    display: none;
  }
}

.leadership-block li img {
  float: left;
  margin: 0px 30px 30px 0px;
  max-width: 300px;
}

.service-box li h3, .leadership-block li h3 {
  font-weight: 400;
  font-size: 18px;
}

.read-btn {
  display: inline-block;
  padding: 4px 10px;
  font-size: 11px;
  text-transform: uppercase;
  background: $main-color;
  color: #fff;
  &:hover {
    background: #333;
    color: #fff;
  }
}

/*Contact Us*/

.contact-page {
  .fieldset {
    margin: 0;
  }
  .maps {
    background: #fff;
    padding: 10px;
    p {
      margin: 0;
    }
  }
}

.list-info {
  background: #fff;
  padding: 15px;
  li {
    clear: both;
    padding-bottom: 20px;
  }
}

.info-content {
  em {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #eee;
    float: left;
    margin-right: 15px;
    margin: 0 15px 30px 0;
    font-size: 0;
  }
  &:hover em {
    background: $main-color;
    color: #fff;
  }
  em {
    &:before {
      font-size: 14px;
    }
    &.fa-envelope:before {
      font-size: 12px;
    }
  }
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
  }
  a {
    color: #666;
    &:hover {
      text-decoration: underline;
    }
    .des-info {
      color: #fff;
    }
  }
}

.bx-wrapper .products-grid .item {
  width: 214px;
  float: left;
}

/*-----------------------------------------------------------------------*/

/*Social Right*/

.block-social-right {
  right: 0;
  position: fixed;
  top: 150px;
  width: 45px;
  z-index: 999;
}

.social-icon {
  background: url("../images/social-icons.png") 0 0 no-repeat;
  display: block;
  float: right;
  width: 43px;
  height: 43px;
  margin-bottom: 2px;
}

.social-text {
  float: left;
  font-size: 11px;
  margin: 13px 0 11px 44px;
  white-space: nowrap;
  color: #fff;
}

.social-icons a:hover {
  text-decoration: none;
}

#facebook-btn span {
  background-position: 13px 7px;
}

#linkedin-btn span {
  background-position: 12px -266px;
}

#twitter-btn span {
  background-position: 13px -39px;
}

#youtube-btn span {
  background-position: 12px -230px;
}

#pinterest-btn span {
  background-position: 12px -181px;
}

#googleplus-btn span {
  background-position: 13px -132px;
}

#instagram-btn span {
  background-position: 10px -300px;
}

#flickr-btn span {
  background-position: 10px -335px;
}

#web-btn span {
  background-position: 10px -403px;
}

#mail-btn span {
  background-position: 10px -369px;
}

#facebook-btn .social-icon {
  background-color: #3B5998;
}

#linkedin-btn .social-icon {
  background-color: #6eb8da;
}

#twitter-btn .social-icon {
  background-color: #62BDB2;
}

#googleplus-btn .social-icon, #pinterest-btn .social-icon {
  background-color: #DB4A39;
}

#youtube-btn .social-icon {
  background-color: #C4302B;
}

#instagram-btn .social-icon {
  background-color: #D2C5B3;
}

#flickr-btn .social-icon {
  background-color: #E4006B;
}

#mail-btn .social-icon {
  background-color: #2A056F;
}

#web-btn .social-icon {
  background-color: #000;
}

#popup-newsletter {
  background: url(../images/bg-popup-newsletter.jpg) 90% 60px #f1f1f1 no-repeat;
  padding: 100px 50px 30px;
  position: relative;
  .block-title strong {
    color: #aaa;
    font-size: 39px;
    position: relative;
    padding-bottom: 5px;
    span {
      color: #222;
    }
    &:before {
      content: "";
      width: 60px;
      height: 3px;
      background: #cecece;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .form-subscribe-header {
    margin-top: 10px;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    p {
      margin: 0;
      span {
        color: #ff0000;
        margin: 0 3px;
      }
    }
  }
  .input-box {
    width: 50%;
    margin: 10px 0 15px;
  }
  input.input-text {
    width: 100%;
    padding: 10px;
    line-height: 25px;
  }
  button.button {
    span span {
      padding: 12px 25px;
      background: #69ae2c;
      border-radius: 3px;
      text-transform: capitalize;
      font-size: 20px;
    }
    &:hover span span {
      background: #333;
    }
  }
  .subscribe-bottom {
    position: absolute;
    bottom: 30px;
    left: 50px;
    input {
      margin: -3px 5px 0 0;
    }
  }
}

.fancybox-nav {
  display: none;
}

.quickview-index-ajax {
  .themes-demo-wrap {
    display: none;
  }
  &.page-empty {
    padding: 0;
  }
}