
/* Header ==================================================*/ 

#header-special-offer {
  background: #0f0f0f;
  .promotion {
    text-align: left;
    color: #ccc;
    font-size: 14px;
    padding: 18px 0;
    position: relative;
    font-weight: 500;
    .header-special-offer-close {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -14px;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      cursor: pointer;
      .fa {
        font-size: 0;
        &:before {
          font-size: 14px;
        }
      }
    }
    p {
      margin: 0;
      span {
        color: #fff;
      }
    }
    .btn-promotion {
      position: absolute;
      top: 50%;
      right: 38px;
      margin-top: -19px;
      padding: 8px 20px;
      color: #fff;
      background: $main-color;
      font-size: 14px;
      letter-spacing: 1px;
      &:hover {
        background: #666;
      }
    }
  }
}

.header-quick-access {
  background: #efefef;
  .hotline {
    text-align: right;
  }
  .link-follow {
    float: left;
    li {
      display: inline-block;
      margin-right: 8px;
      display: inline;
      margin-bottom: 8px;
      line-height: 22px;
    }
    a {
      text-align: left;
      position: relative;
      color: #666;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      &:hover {
        text-decoration: none;
        color: $main-color;
      }
    }
    li a {
      span {
        display: none;
      }
      &:hover span {
        bottom: 30px;
      }
    }
  }

}

.quick-access {
  padding-top: 7px;
  position: relative;
  z-index: 999;
  float: right;
}

.lang-currency { float: right; }

.language-currency {
  float: left;
}



.header-language,
.header-currency {
  float: right;
}

.header-quick-access .fa {
    vertical-align: top;
    margin-top: 11px;
    font-size: 10px;
    color: #666;
    margin-left: 0px;
}

.form-language {
  float: left;
  margin-left: 13px;
  label {
    display: none;
  }
  .drop-lang {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    .drop-trigger {
      position: relative;
      float: right;
      padding: 0;
    }
    li a {
      background-repeat: no-repeat;
      background-position: 0 48%;
      display: block;
      position: relative;
      font-size: 13px;
      z-index: 10;
      color: #333;
      padding: 10px 0 10px 25px;
      line-height: 22px;
      text-transform: capitalize;
    }
    .drop-trigger {
      > a {
        padding: 0 0 0 20px;
        text-transform: capitalize;
        line-height: 35px;
      }
      .sub-lang {
        position: absolute;
        top: 44px;
        left: 50%;
        margin-left: -50px;
        list-style: none;
        padding: 5px 10px;
        background: #fff;
        min-width: 100px;
        @include opacity(0);
        z-index: -1;
        @extend .top_down;
        @extend .box-shadow;
      }
      &:hover .sub-lang {
        @include opacity(1);
        z-index: 9999;
        top: 35px;
      }
    }
    .sub-lang li {
      a {
        padding: 0 10px 0 25px;
        line-height: 25px;
        display: block;
        color: #666;
        font-weight: normal;
        font-size: 12px;
      }
      &:first-child a {
        border: none;
      }
      a:hover {
        color: $main-color;
      }
    }
  }
  &:hover {
    .drop-lang .drop-trigger > a {
      color: $main-color;
    }
  }
}


/*------------------------------------Currency-------------------------------------*/

.form-currency {
    padding-right: 14px;
    position: relative;
    margin-left: 12px;
  &:before { content: ""; position: absolute; width: 1px; height: 17px; display: block; right: 0; top: 9px; background: #dadada; }
  label {
    display: none;
  }
  .drop-currency {
    display: inline-block;
    margin: 0;
    .currency-trigger {
      position: relative;
      padding: 0;
    }
    li a {
      display: block;
      font-size: 13px;
      font-weight: normal;
      position: relative;
      text-transform: capitalize;
      z-index: 10;
      color: #333;
      line-height: 35px;
    }

    .currency-trigger {
      .sub-currency {
        text-align: left;
        left: 50%;
        margin-left: -60px;
        list-style: none outside none;
        padding: 0;
        position: absolute;
        top: 55px;
        @extend .box-shadow;
        background: #fff;
        z-index: -1;
        width: 120px;
        @include opacity(0);
        @extend .top_down; 
      }
      &:hover .sub-currency {
        top: 35px;
        z-index: 9999;
        @include opacity(1);
        }
    }
    .sub-currency li {
      a {
        color: #333;
        display: block;
        font-size: 13px;
        font-weight: normal;
        line-height: 25px;
        padding: 0 10px;
        text-transform: capitalize;
        min-width: 75px;
      }
      &:first-child a {
        border: none;
      }
      a:hover {
        color: $main-color;
      }
    }
  }
  &:hover{
    .drop-currency .currency-trigger > a {
      color: $main-color;
    }
  } 
}




/*-------------------------------Welcome msg!-----------------------------------------*/
p.welcome-msg { float: left; margin: 0;  margin:0; line-height: 35px; 
  a {
    color: $white;
    background: #ff8542;
    display: inline-block;
    line-height: 24px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 5px;
    vertical-align: top;
    @include border-radius(2px);
    &:hover { background: $main-color; }
  }

}



/*-------------------------------Top Links!-----------------------------------------*/
.header-toplinks {
  float: right;
  position: relative;
  z-index: 99;
  cursor: pointer;
  > span {
    font-size: 28px;
    font-weight: bold;
    color: #5c5c5c;
  }
  &:hover {
    > span {
      color: $main-color;
    }
  }
  .links {
    li {
      display: inline-block;
      line-height: 35px;
      @include transition(0.3s);
      a {
          font-size: 13px;
          color: #333;
          font-weight: 400;
          padding-right: 14px;
          border-right: 1px solid #dadada;

          
        }
      &:hover a, &:hover:before { color: $main-color; }
      &:before{
            font-family: $font-icon;
            content: "\f217";
            color: #aaa;
            margin-right: 5px;
            margin-left: 9px;
            @include transition(0.3s);
          }
      }
    li.first:before { content: "\f004"; }
    li.last:before {     content: "\f15b"; }
  }
  &:hover {
    .links {
      display: block;
    }
  }
}

.header {
       padding: 48px 0 29px;
  .page-header-content {
    position: relative;
    float: left;
    width: 100%;
  }
  a.logo {
    display: block;
    text-align: left;
  }
  .logo strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
  }
  h1.logo {
    margin: 0;
  }
}
.header-cart-mini {
  float: right;
  position: relative;
  z-index: 9998;
  a.shopping-cart {
    padding-left: 36px;
    color: #333;
    font-size: 28px;
    position: relative;
    line-height: 32px;
    display: inline-block;
    &:before{
      content: "\e602";
      font-family: $font-ico;
      font-size: 28px;
      color: #8f8f8f;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top:-16px;
    }
    span.cart-title {
      font-family: $font-custom;
      color: #333;
      font-weight: 700;
      font-size: 13px;
      text-transform: capitalize;
    }
    > span {
      float: left;
      clear: both;
      line-height: 17px;
    }
  }
  &:hover {
    a.shopping-cart {
      color: $main-color;
      .cart-qty,
      span.cart-title,
      &:before { color: $main-color;}
    } 
  }
}
.cart-qty {

  z-index: 99;
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

.mini-products-list {
  .product-image {
    float: left;
    width: 50px;
  }
  .product-details {
    margin-left: 60px;
  }
  
}  
.my_account { 
    padding-top: 7px;
    float: right;
    padding-left: 29px;
    position: relative;
    padding-right: 19px;
    border-right: 1px solid #e2e2e2;
    margin-right: 17px;
  &:before { font-family: $font-icon;     content: "\f007"; font-size: 25px; position: absolute; top: 50%; left: 0; margin-top:-15px; color: #888; line-height: 34px; }
  h3 { font-size: 13px; font-family: $font-custom; font-weight: 700; color: #333; text-transform: capitalize; line-height: 17px; margin: 0; margin-bottom: -2px; }
  a { line-height: 17px; display: inline-block;     z-index: 99;  font-size: 13px; font-weight: 400; color: #666; text-transform: capitalize; 
    &:hover { color: $main-color; }
  }
  &:hover:before { color: $main-color; }
 }