<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>

<label for="<?php echo $this->getFieldId('month')?>"<?php
/**
 * Add class required if is mandatory
 */
 if ($this->isRequired()){
      echo ' class="required"'; 
}
?>><?php
  echo $this->__('Date of Birth') ?><?php
  /**
   * add * if is mandatory
   */
   if ($this->isRequired()){
        echo '<em>*</em>'; 
}
?></label>
<div class="input-box customer-dob">
<?php
/**
 * Create input box for dob
 */
    $this->setDateInput('d',
        '<div class="dob-day">

             <label for="' . $this->getFieldId('day') . '">' . $this->__('DD') . '</label>
             <input type="text" id="' . $this->getFieldId('day') . '" name="' . $this->getFieldName('day') . '" value="' . $this->getDay() . '" title="' . $this->__('Day') . '" class="input-text validate-custom" ' . $this->getFieldParams() . ' />
             
         </div>'
    );

    $this->setDateInput('m',
        '<div class="dob-month">
                <label for="' . $this->getFieldId('month') . '">' . $this->__('MM')  . '</label>
                <input type="text" id="' . $this->getFieldId('month') . '" name="' . $this->getFieldName('month') . '" value="' . $this->getMonth()  . '" title="' . $this->__('month')  . '" class="input-text validate-custom" ' . $this->getFieldParams()  . ' />
             
         </div>'
    );

    $this->setDateInput('y',
        '<div class="dob-year">
                <label for="' . $this->getFieldId('year') . '">' . $this->__('YYYY')  . '</label>
                <input type="text" id="' . $this->getFieldId('year') . '" name="' . $this->getFieldName('year') . '" value="' . $this->getYear()  . '" title="' . $this->__('Year')  . '" class="input-text validate-custom" ' . $this->getFieldParams()  . ' />
             
         </div>'
    );
?>
    <?php echo $this->getSortedDateInputs() ?>
    <div class="dob-full" style="display:none;">
        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php
         echo $this->getFieldName('dob')?>" />
    </div>

    <div class="validation-advice" style="display:none;"></div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php
     echo $this->getDateFormat() ?>');
//]]>
</script>
