
/* Ajax Cart Mini - Loadding ==================================================*/ 

#wraper_ajax.loadding_ajaxcart, .ajax_loading, .loadding {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  margin-top: -20px;
  margin-left: -20px;
  @include border-radius (3px);
  top: 50%;
  left: 50%;
  position: fixed;
  display: none;
  z-index: 999;
  @include box-shadow (1px 1px 5px 1px #ddd);
}

.wrapper_inboxCart {
    position: fixed;
    width: 320px;
    background: white;
    z-index: 999999;
    border: 1px solid #ddd;
    opacity: 1;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -160px;
    display: block;
    padding: 15px;
}


.wrapper_inboxCart p.info {
    color: #262626;
    font-size: 13px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    }
.wrapper_inboxCart .p_image, .wrapper_inboxCart .p_name  { text-align: center; margin-bottom: 10px;}

.wrapper_inboxCart .continue_shopping,
.wrapper_inboxCart .shopping_cart {
    border: 1px solid #ddd;
    display: block;
    margin: 10px 0 0;
    color: #FFFFFF;
    padding: 7px 10px;
    background: #fff;
    color: #333;
    text-align: center;
    
}
.wrapper_inboxCart .continue_shopping:hover,
.wrapper_inboxCart .shopping_cart:hover { background:#333; text-decoration: none; color: #fff;}

/* top cart  */

.header-cart-mini {
  .top-cart-content {
    width: 270px;
    position: absolute;
    top: 39px;
    right: 0;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 15px;
    text-align: left;
    display: none;
    z-index: 9999;
    @include transition(0.5);
  }
  &:hover .top-cart-content {
    display: block;
  }
}

.top-subtotal {
  margin: 15px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  border-top: 1px solid #eee;
  clear: both;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.top-cart-content {
  li.item {
    float: left;
    width: 100%;
    margin: 0 0 10px;
  }
  .product-details {
    position: relative;
    .btn-remove {
      position: absolute;
      right: 0;
      top: 4px;
    }
    .btn-edit {
      position: absolute;
      right: 15px;
      top: 4px;
    }
  }
  .actions {
    padding: 0;
    float: right;
    margin: 10px 0 0;
  }
}

.top-cart-contain .product-details .price {
  width: auto;
  font-size: 15px;
  font-weight: bold;
}

.top-subtotal span {
  font-weight: bold;
  font-size: 15px;
}