
/* Homepage Blog Content ==================================================*/ 
.blog-wrapper { margin-bottom: 20px; }

.blog-content {
    margin: 0;
  padding:11px 10px 15px;
  border:1px solid #e5e5e5;
  position: relative;
  &:before { content: "";position: absolute; display: block; top:-1px; left: -1px; right: -1px; height: 3px; background: #282828; }
  .bx-title { margin: 0; }
  .box-info {
    border-bottom: 1px dashed #e5e5e5;
    display: inline-block;
    width: 100%;
  }
  div.item {
    .item-inner {
      background: #fff;
      margin-bottom: 22px;
    }
    h3.title {
      color: #333;
      font-size: 15px;
      font-weight: 700;
      margin-top: 10px;
      text-transform: capitalize;
      margin-top: 11px;
      margin-bottom: 3px;
      &:hover {
        text-decoration: underline;
      }
    }
    
  }
  .fa {
    font-size: 14px;
    color: #aaa;
    margin-right: 7px;
  }
  div.item {
    p {
      &.author {
        color: #444;
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 1px;
        float: left;
        padding-bottom: 8px;
        .fa {
          margin-right: 9px;
          vertical-align: text-bottom;
        }
      }
      &.comment {
        font-size: 12px;
        color: #444;
        margin: 0;
        a {
          margin-left: 3px;
        }
      }
      &.des {
        margin: 0;
      }
      a { color: #444; margin-left: 9px; border-left: 1px solid #e6e6e6;  padding-left: 10px; @include transition(0.3s); 
        &:hover { color: $main-color; }
      }
    }
    .des {
      
      margin-bottom: 32px;
      display: inline-block;
      width: 100%;
      p {
        margin: 0;
        color: #555;
        font-size: 13px;
      }
    }
  }
  .owl-controls {
    .owl-nav {
      .owl-prev {
        top: 50%;
        right: auto;
        left: 0;
        margin-left: -20px;
        margin-top: -30px;
      }
      .owl-next {
        right: 0;
        top: 50%;
        margin-right: -20px;
        margin-top: -30px;
      }
    }
  }
  &:hover {
    .owl-controls {
    }
  }
}

.block-blog {
  .menu-recent ul li a, .menu-categories ul li a, .menu-tags ul li a {
    background: url(../images/check-box.png) 0 1px no-repeat;
    color: #666;
    padding-left: 20px;
    text-transform: capitalize;
  }
  .menu-recent ul li a:hover, .menu-categories ul li a:hover, .menu-tags ul li a:hover {
    background-position: 0 -28px;
  }
}

.blog-content .box-info .des img {
  display: none;
}

.postContent img {
  margin-bottom: 15px;
}


/* Blog Page ==================================================*/ 

.postWrapper {
  margin-bottom: 25px;
  float: left;
  width: 100%;
}

.postTitle {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: both;
  h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    position: relative;
  }
  h3 {
    font-size: 11px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    color: #888;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
  }
}

.blog-index-list .sorter .sort-by {
  margin: 0;
}

.postTitle a {
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}

.postContent {
  padding-bottom: 10px;
  a.aw-blog-read-more {
    display: inline-block;
    padding: 4px 10px;
    background: #333;
    color: #fff;
    letter-spacing: 1px;
    &:hover {
      background: #f33636;
    }
  }
}

.postDetails {}

.postBookmarks {
  padding-bottom: 10px;
  h4 {
    font-size: 12px;
    font-weight: bold;
  }
}

.commentWrapper {
  padding-bottom: 15px;
}

.commentContent {
  padding-bottom: 0px;
}

.commentDetails {
  margin-bottom: 5px;
  padding: 0px;
  h4.username {
    display: inline;
  }
}

.postError {
  font-size: 16px;
}

.tags {
  font-weight: bold;
  padding-bottom: 10px;
  UL {
    display: inline;
    LI {
      font-weight: normal;
      display: inline;
      padding-right: 6px;
    }
  }
  h4 {
    font-size: 12px;
    font-weight: bold;
  }
}

.menu-tags, .menu-categories, .menu-recent {
  margin: 0;
  h5 {
    text-transform: uppercase;
font-weight: 700;
font-size: 15px;
color: #222;
font-family: "Montserrat",sans-serif;
position: relative;
padding-bottom: 10px;
  }
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {}

.block-blog {
  .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
  }
  .menu-categories UL LI, .menu-recent UL LI {
    margin-left: 10px;
  }
}

.tagcloud {
  /* text-align:center; */
}

.tag-count-1 {
  font-size: 1em !important;
}

.tag-count-2 {
  font-size: 1.2em !important;
}

.tag-count-3 {
  font-size: 1.4em !important;
}

.tag-count-4 {
  font-size: 1.6em !important;
}

.tag-count-5 {
  font-size: 1.8em !important;
}

.tag-count-6, .tag-count-7, .tag-count-8, .tag-count-9, .tag-count-10 {
  font-size: 2em !important;
}

.block-blog {
  .head h4 {
    padding-left: 20px;
  }
  .block-title strong {}
}

.postWrapper .poster {
  display: inline;
}

.input-box.aw-blog-comment-area {
  width: 100%;
}

.widget-latest li {
  font-size: 12px;
  padding: 5px 10px;
}

.block-blog .menu-categories {
  margin: 0 0 15px;
  h5 { 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #222;
    font-family: "Montserrat",sans-serif;
    position: relative;
    padding-bottom: 10px;
  }

}

A.awblog_current_comment {
  text-decoration: none !important;
  font-weight: bold !important;
}

.blog-post-view textarea {
  width: 100% !important;
}