
/* Cloudzoom ==================================================*/ 

.cloud-zoom-lens {
  border: 1px solid #ccc;
  margin: -1px;
  /* Set this to minus the border thickness. */
  background-color: #fff;
  cursor: move;
}

/* This is for the title text. */

.cloud-zoom-title {
  position: absolute !important;
  background-color: #000;
  color: #fff;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  top: 0px;
}

/* This is the zoom window. */

.cloud-zoom-big {
  overflow: hidden;
}

/* This is the loading message. */

.cloud-zoom-loading {
  color: white;
  background: #222;
  padding: 3px;
  border: 1px solid #000;
  display: none;
}

.product-view .product-img-box .product-image-zoom {
  border: 2px solid #CCCCCC;
}

.lightbox {
  display: none;
}

/*##########--------------##########*/

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  line-height: 0;
  img {
    width: auto;
    height: auto;
  }
  a img {
    border: none;
  }
}

#outerImageContainer {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#imageContainer {
  padding: 10px;
}

#loading {
  /* background: url(../images/loading.gif) 50% 50% no-repeat;*/
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

#hoverNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#imageContainer > #hoverNav {
  left: 0;
}

#hoverNav a {
  outline: none;
}

#prevLink, #nextLink {
  width: 49%;
  height: 100%;
  background-image: url(data:image/gif;base64,AAAA);
  /* Trick IE into showing hover */
  display: block;
}

#prevLink {
  left: 0;
  float: left;
}

#nextLink {
  right: 0;
  float: right;
}

#prevLink {
  &:hover, &:visited:hover {
    background: url(../images/prevlabel.gif) left 15% no-repeat;
  }
}

#nextLink {
  &:hover, &:visited:hover {
    background: url(../images/nextlabel.gif) right 15% no-repeat;
  }
}

#imageDataContainer {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
}

#imageData {
  padding: 0 10px;
  color: #666;
  #imageDetails {
    width: 80%;
    float: left;
    text-align: left;
  }
  #caption {
    font-weight: bold;
  }
  #numberDisplay {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
  }
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 500px;
  background-color: #000;
}