/*----------------------------------------------- Banner Slider -----------------------------------------------*/

figure {
  .carousel li {
    margin-right: 5px;
  }
  .ajax_loading {
    font-size: 36px;
    position: absolute;
  }
  .caption-item {
    display: none;
  }
}

/* Direction Nav */

.nivo-directionNav {
  a {
    margin: -40px 0 0;
    position: absolute;
    top: 50%;
    border: 3px solid #fff;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
    z-index: 9;
    font-size: 0;
    color: #fff;
    text-align: center;
    font-size: 0;
    line-height: 80px;
    @include border-radius(50px);
    @include transition(0.5s);
    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }
  .nivo-nextNav {
    right: 100px;
    &:before {
      @extend .icon;
      display: block;
      margin-left: 7px;
    }
  }
  .nivo-prevNav {
    left: 100px;
    &:before {
      @extend .icon;
      @include rotate(180deg);
      margin-right: 7px;
      display: block;
    }
  }
}

/* Control Nav */

.banner-slideshow {
  position: relative;
}

.nivoslider {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}

.nivo-controlNav {
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 100%;
  a {
    border: 0 none;
    display: inline-block;
    height: 12px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 12px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    background: rgba(255, 255, 255, 0.27);
    @include border-radius(7px);
    &:hover, &.active {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.nivo-caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  .LeftToRight {
    .title {
      position: absolute;
      left: 50%;
      margin-left: -340px;
      top: 200px;
      color: #fff;
      font-size: 2vw;
      font-weight: bold;
      line-height: 40px;
      border-bottom: 3px solid yellow;
      padding-right: 20px;
      z-index: 99;
      @include fade-down(0.5s);
    }
    .description {
      position: absolute;
      left: 50%;
      margin-left: -190px;
      bottom: 80px;
      z-index: 99;
      text-align: left;
      font-size: 14px;
      color: #fff;
      background: rgba(232, 59, 79, 0.9);
      font-size: 1.5vw;
      padding: 15px 100px 10px 50px;
      line-height: 20px;
      @include border-right-radius(50px);
      @include fade-left(1.5s);
      span {
        display: block;
        font-size: 14px;
        color: #000;
        font-weight: normal;
      }
      &:before {
        content: "";
        position: absolute;
        left: -25px;
        top: 0;
        border-left: 25px solid transparent;
        border-bottom: 65px solid rgba(232, 59, 79, 0.9);
        z-index: 9;
      }
    }
    .readmore {
      position: absolute;
      left: 50%;
      bottom: 92px;
      margin-left: 150px;
      z-index: 99;
      @include fade-left(1.5s);
      a {
        font-size: 0;
        color: #fff;
        font-family: $font-ico;
        display: block;
        @include transition(0.5s);
        &:before {
          @extend .icon;
          margin-right: 7px;
        }
        &:hover {
          color: #333;
        }
      }
    }
  }
  .RightToLeft {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 50%;
    .title {
      color: #fff;
      font-size: 3vw;
      text-transform: uppercase;
      line-height: 70px;
      padding: 0 100px 0 10px;
      background: $main-color;
      z-index: 99;
      @include fade-left(1s);
    }
    .description {
      z-index: 99;
      text-align: left;
      width: 50%;
      font-size: 1vw;
      color: #fff;
      background: #000;
      padding: 10px 20px;
      line-height: 25px;
      @include fade-left(2s);
    }
    .readmore {
      z-index: 99;
      @include fade-in(2s);
      display: inline-block;
      margin-top: 40px;
      a {
        color: #fff;
        display: block;
        @include transition(0.5s);
        background: $main-color;
        padding: 11px 50px 11px 30px;
        position: relative;
        font-size: 1vw;
        @include border-radius(50px);
        &:after {
          font-family: $font-ico;
          content: "\e052";
          font-size: 1vw;
          margin-left: 7px;
          position: absolute;
          right: 15px;
          top: 10px;
        }
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

/* The Nivo Slider styles */

.nivoSlider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
  }
}

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}

/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity = 0);
  opacity: 0;
}

/* The slices and boxes in the Slider */

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
  img {
    display: block;
  }
}

.nivo-html-caption {
  display: none;
}