/*Bx slider*/
.bx-title {
    margin-bottom: 20px;
    position: relative;
    }
.bx-title h2 {
    font-weight: 700;
    font-size: 18px;
    color: #222;
    text-align: left;
    margin: 0;
    font-family: $font-custom;
    text-transform: uppercase;
}
.onsale-title { 
    position: absolute;
    top: 11px;
    left: -36px;
    z-index: 9;
    @include rotate(-45deg);
  h2 { color: #fff; background:#ff8542; margin: 0; line-height: 45px; padding: 0px 35px; font-size: 14px; }
}


.owl-controls {
  .owl-nav {
    .owl-prev,.owl-next {
      margin: -41px 0 0;
      position: absolute;
      border: 1px solid #dedede;
      width: 31px;
      height: 31px;
      display: block;
      cursor: pointer;
      z-index: 9;
      color: #666;
      text-align: center;
      font-size: 0;
      font-family: FontAwesome;
      line-height: 29px;
      @include border-radius(50px);
      @include transition(0.5s);
      &:hover {
        border-color: $main-color;
        color: $main-color;

      }
    }
    .owl-prev {
      right: 35px;
      top: 0;
      &:before {
        content: "\f053";
        display: block;
        font-size: 14px;
        font-size: 9px;
      }
    }
    .owl-next {
      top: 0;
      right: 0;
      &:before {
        content: "\f054";
        display: block;
        font-size: 9px;
      }
    }
  }
  .owl-dots { }
}

/*Categories Tabs ========================================*/
.cattabproducts {
  
  position: relative;
  min-height: 250px;
  margin-bottom: 20px;
  .bx-title {
    margin-bottom: 14px;
  }
  .cattabs-products { border-top:3px solid #282828; }
  .owl-item { border:1px solid #e5e5e5; border-top:0; }
}

ul.cattabs {
  li {
    float: left;
    margin: 0 0 0 5px;
    cursor: pointer;
    padding: 0px 10px 0 9px;
    position: relative;
    z-index: 9;
    font-size: 14px;
    border-right: 1px solid #dbdbdb;
    font-family: $font-custom;
    font-weight: 400;
    color: #333;
    line-height: 17px;
    &:last-child {
      padding-right: 0;
      border: none;
    }
    &.active, &:hover {
      color: $main-color;
      text-decoration: underline;
    }
    &.active:after, &:hover:after {
      display: block !important;
    }
  }
  position: absolute;
  top: 5px;
  right: 105px;
}

.cattabproducts .owl-controls .owl-nav div {
      margin: -45px 0 0;
}

.cattabproducts .ajax_loading {
  position: absolute;
}

.position {
    display: inline-block;
    width: 100%;
    > .bx-title { border-bottom: 3px solid #282828;     padding-bottom: 14px; margin:0; }
  .col1 { width: 23.1%; float: left; 
    .banner-content1 { padding: 6px; max-height: 459px;
      a {     display: block; overflow: hidden; }
    }
  }
  .col2 { width: 76.9%; float: left; }
  ul.cattabs { display: none; }
  .cattabproducts {
      margin-bottom: 0;
      h3 { display: none; }
    .bx-title { display: none; }
    .cattabs-products { border: 0; 
      .owl-item { border-bottom: 0; border-right: 0; }

      }
    .products-grid .item {

      .item-inner { margin-bottom: 0; width: 100%; display: inline-block; padding:0;

       .box-images { width: 53.2%; float: left; padding: 5px; margin: 0; clear: both;
            &:before { display: none; }
            }
       .product-shop { padding: 0; margin-left: 55%;  
          .ratings { max-height: 11px; }
          .product-name {     margin: 57px 0 0; }
       }
     }
    > div:first-child { border-bottom: 1px solid #e5e5e5; }
    }
    .label-new, .label-sale { right: 5px; }
  }  
  
  .cat { border:1px solid #e5e5e5; border-top: 0; display: inline-block; width: 100%; border-right: 0;     margin-bottom: 10px; }
  .owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next {     margin: -45px 0 0; }
}



/*Products Tabs ========================================*/
.producttabs-container {
  margin-bottom: 20px;
 
  position: relative;
  .bx-title { display: inline-block; width: 100%; position: relative;  margin-bottom: -5px; }
  .owl-controls { display: none; }
  .ajax_loading {
    position: absolute;
  }
  .producttabs-products { border: 1px solid #e5e5e5;  min-height: 330px; border-top: 0; }
  .item-inner { padding:10px; clear: both;
    .box-images { float: left; max-width: 100px;  margin-bottom: 0 !important;
        &:before { display: none !important;}
     }
  &:before{
          content: "";
          position: absolute;
          bottom: 0;
          height: 0px;
          border-top: 1px dashed #e5e5e5;
          left: 10px;
          right: 10px;
          display: block;
          z-index: 9;
    }
  }
  .products-grid .item .item-inner .product-shop{
    padding:0;
        margin-left: 110px;
   .product-name a { font-size: 13px; }
    }
  .special-price .price, .regular-price .price { font-size: 14px; }

}

#tabs-title {
  position: relative;
  li {
    display: inline;
    width: 50%;
    float: left;
    border: 1px solid #e5e5e5;
    position: relative;
    &:before {
      content: "";
      height: 3px;
      background: #de2727;
      position: absolute;
      left: -1px;
      top: -1px;
      -webkit-transition:all 0.5s ease; 
      -moz-transition:all 0.5s ease;
      -ms-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    h3 {
      text-transform: capitalize;
      font-size: 15px;
      cursor: pointer;
      font-weight: 700;
      text-align: center;
      line-height: 41px;
      margin-bottom: 0;
      color: #333;
    }
    &:last-child h3 {
      border: none;
      padding: 0;
      margin-right: 0;
    }
    &.active, &:hover {
      background: #f5f5f5;
    }
    &.active:before,
    &:hover:before {right: -1px;}
  }
  li:last-child { 
    border-left: 0;
  }
}

.producttabs-products .products-grid .item .item-inner { margin:0; display: inline-block; width: 100%; 
  &:last-child:before { display: none;  }
}

/*FeaturedProducts ========================================*/
.featuredproduct {
  margin-bottom: 30px;
}

/*BestsellerProducts ========================================*/
.bestsellerproduct { 
  margin-bottom: 34px; 
  .bx-title {
      border-bottom: 3px solid #282828;
      padding-bottom: 14px;
      margin: 0;

    a {
      position: absolute;
      right: 0;
      top: 10px;
      color: #333;
      line-height: 20px;
      &:after {
        @extend .icon;
        color: $main-color;
        float: right;
        font-size: 16px;
        margin-left: 3px;
      }
      &:hover {
        color: $main-color;
      }
    }
  }
  .products-grid { border:1px solid #e5e5e5; border-top:0;     border-right: 0;
    .item .item-inner { margin-bottom: 0; 
      .product-shop .add-to-links li { margin-bottom: 9px; }
    }
    .owl-item { border-right: 1px solid #e5e5e5; float: left; }
   }
}


/*Saleproducts  ========================================*/
.saleproducts {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  padding-bottom: 15px;
  .products-grid .item .item-inner {  }
  .special-price .price { font-size: 24px; }
  .old-price .price { font-size: 14px; }
  .products-grid .item .item-inner .product-shop .price-box { margin-bottom: 4px; }
}


/*Mostviewproducts  ========================================*/
.mostviewproducts {
  margin-bottom: 30px;
  .products-grid {
    background: #fff;
    padding: 15px;
    .item {
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 15px;
      padding-bottom: 15px;
      &.last {
        margin: 0;
        padding: 0;
        border: none;
      }
      .item-inner {
        margin-bottom: 0;
        padding: 0;
        &:hover {
          @extend .item-shadow-out;
        }
        .box-images {
          float: left;
          width: 100px;
          margin-right: 15px;
        }
      }
    }
  }
}

/*Newproducts  ========================================*/
.dropdown .newproducts, .saleproducts_top {
  .bx-title { display: none; }
  .item-inner { border:1px solid #e5e5e5; padding-bottom: 10px; }
  .label-new, .label-sale {  }
    .ratings .rating-links { line-height: 10px !important; 
      .separator, .add-review { display: none; }
    }
}

/*randomproduct  ========================================*/
.randomproduct {
  margin-bottom: 30px;
}

/*Related Slider ========================================*/
.relatedslider {
  .owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next {     margin: -50px 0 0; }
  padding-top: 15px;
  margin-bottom: 20px;
  .bx-title {}
  .item .item-inner { border: 1px solid #e5e5e5; }
  .products-grid .product-name {
    margin: 15px 0 0;
  }
  .related-subtitle {
    margin-bottom: 10px;
    text-align: left;
  }
  input.checkbox {
    display: inline-block;
    margin: 0 0 0 5px;
  }
  .ratings .rating-links { display: none; }
}

/*Uplsell Slider ========================================*/
.upsellslider {
  .owl-carousel .owl-stage-outer { padding-bottom: 1px; }
  .owl-controls .owl-nav div {
      margin: -45px 0 0;
}

  margin-top: 30px;
  .item-inner { border:1px solid #e5e5e5 !important; }
  .product-name {
    margin-top: 10px;
  }
  .ratings .rating-links { display: none; }
}

/*Cloud Zoom Thumnail Slider ========================================*/
.more-views {
  .owl-controls .owl-nav {
    top: -30px;
  }
  ul {
    li { 
      float: left;
      margin-right: 7px;
    }
  }
}


/*Deal Products ========================================*/
.dailydeals {
  .bx-title { background: #57c6c8; text-align: center;
    h2 { display: inline-block; font-size: 16px; background: url(../images/bg_onsale.png) no-repeat left center; color: #fff; line-height: 26px;  padding: 10px 0 10px 31px;; }

  }
  .owl-controls { display: none; }
  .products-grid .item .item-inner {
    margin-bottom: 20px;
    border:1px solid #e5e5e5;
    padding-bottom: 0;
    .box-images { margin-bottom: 0;
    
      span.time_lable { display: block; width: 67px; height: 67px; position:  absolute; top:-1px; left: -1px; background: url(../images/timer.png) no-repeat left top transparent;}
      &:before { display: none;  }
    }
    .special-price .price { font-size: 24px; }
    .old-price .price { font-size: 14px; }
    .product-shop { position: relative; 
      &:before { position: absolute; bottom: 0; left: 20px; right: 20px; height: 0; border-top: 1px dashed #e5e5e5; content: ""; }
      .price-box { padding-bottom: 6px;     margin-bottom: 15px; }
    }

  }
  .box-timer {
    padding-bottom: 20px;
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    .timer-view > div {
      margin-right: 10px;
      float: left;
      font-size: 12px;
      text-align: left;
      position: relative;
      .count {
        font-family: $font-custom;
        font-size: 16px;
        font-weight: 700;
        color: #555;
        width: 60px;
        height: 30px;
        border: 1px solid #eeeeee; 
        line-height: 28px;
        background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#fff));
        background-color: -webkit-linear-gradient(top, #fff, #f9f9f9);
        background-color: -moz-linear-gradient(top, #fff, #f9f9f9);
        background-color: -ms-linear-gradient(top, #fff, #f9f9f9);
        background-color: -o-linear-gradient(top, #fff, #f9f9f9);
        display: block;
        text-align: right;
        background: url(../images/bg_timer.jpg) no-repeat center center;
        position: relative;
        b {
            letter-spacing: 19px;
            margin-right: -9px;
        }
      }
      &:after {
         content: "-";
        position: absolute;
        left: -8px;
        top: 6px;
        font-family: $font-custom;
        font-weight: 400;
        font-size: 14px;
        color: #e5e5e5;
      }
      &:first-child:after {
        display: none;
      }
      &:last-child {
        
        
        &:after{
          
        }
      }
      .title { text-align: left; width: 100%; }
    }
    > div > div:last-child { display: none; }
  }
  .owl-controls {
    @extend .controls-middle;
  }
}

/*Brandlogo Slider ========================================*/
.brandlogo-contain { margin: 0 0 37px 0;
  .item{ 
    img {@include transition(0.4s); }
    &:hover  img{  @include scale(1.05); }
}}



/*================================================================================*/