

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wfp2y');
	src:url('../fonts/icomoon.eot?#iefix-wfp2y') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-wfp2y') format('truetype'),
		url('../fonts/icomoon.woff?-wfp2y') format('woff'),
		url('../fonts/icomoon.svg?-wfp2y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bars66:before {
	content: "\e600";
}
.icon-arrow487:before {
	content: "\e601";
}
.icon-cart10:before {
	content: "\e602";
}
.icon-keyboard53:before {
	content: "\e603";
}
.icon-last-track:before {
	content: "\e604";
}
.icon-left207:before {
	content: "\e605";
}
.icon-magnifying-glass34:before {
	content: "\e606";
}
.icon-telephone5:before {
	content: "\e607";
}