<html>
<body>
<script>
var $j = jQuery.noConflict();

</script>
<?php 
$_customer = Mage::getSingleton('customer/session');
$customerid=$_customer->getCustomerId();
$groupId = $_customer->getCustomerGroupId();
$_product=Mage::registry('current_product');
$seller_id = $_product->getSellerId();
?>
<div class="request_chat">
<?php if(($customerid) && ($seller_id != $customerid)) {
?>


<ul class="online_user">
 <li class="online_user_list1"  style="position: initial !important;float: none !important;margin-top: 42px;    float: left;">
		<?php
			$_product=Mage::registry('current_product'); 
			$productowner=Mage::getModel('marketplace/userprofile')->isCustomerProducttemp($_product['entity_id']);
			
			if($productowner['userid']!=""){
				$customerid=Mage::getSingleton('customer/session')->getCustomerId();
				
				if($customerid){
					$collection = Mage::getModel('log/visitor_online')->prepare()->getCollection()
								->addFieldToFilter('customer_id',array('eq'=>$productowner['userid']));
					
					if($customerid==$productowner['userid']){
						$collection->addFieldToFilter('customer_id',array('neq'=>$customerid));
					}
					
					$collection->addFieldToSelect('customer_id');
					$collection->distinct(true);
					$collection->addCustomerData();
					$buyerids = array();
					
					if($collection->getSize() > 0){
						
					foreach($collection as $buyer){
						$buyer=Mage::getModel('customer/customer')->load($buyer->getCustomerId());?>
                         <div class="block-title"> <strong></strong></div>
							<div class="wk_cs_chat_buddies c_buddies" id="list-<?php echo $buyer->getId() ?>">
						    <img src="<?php echo $this->getSkinUrl('images/online.jpg'); ?>" alt="">
							<span class="wk_cs_buddy_name cs_name" style="display:block !important;float: right;margin-top: 8px;margin-left: 5px;"><span style="color:green;"><?php echo $buyer->getName();?></span></span>
						</div>	
					<?php
					}
				}else{ ?>
					
					 <div class="block-title" style="display: none"> <strong><span>Request for chat</span></strong></div>
							<div class="wk_cs_chat_buddies c_buddies" style="width:185px !important;">
						    <span onclick="$j('.common_popup,.overlay').show();"><img src="<?php echo $this->getSkinUrl('images/offline.jpg'); ?>" alt=""><span style="color: red;">Send Message(Offline)</span></span>
							
							
						</div>	
					
					
			<?php 	}}
			}?>
	</li>
	</ul>
	
<?php } ?>

<?php  if(!Mage::getSingleton('customer/session')->isLoggedIn()){
	$_product=Mage::registry('current_product');
	$productowner=Mage::getModel('marketplace/userprofile')->isCustomerProducttemp($_product['entity_id']);
	if($productowner['userid']!=""){
        $collection = Mage::getModel('log/visitor_online')->prepare()->getCollection()
          ->addFieldToFilter('customer_id',array('eq'=>$productowner['userid']));
        $collection->addFieldToSelect('customer_id');
        $collection->distinct(true);
        $collection->addCustomerData();?>
        <ul class="online_user">
        <?php if($collection->getSize() > 0){?>
        	
        	
        <?php foreach($collection as $buyer){ ?>

    <li class="online_user_list1">
    
    
      <div class="wk_cs_chat_buddies1  c_buddies">
      
			<span><span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l online"></span><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><img src="<?php echo $this->getSkinUrl('images/online.jpg'); ?>" alt="">Chat Now(Online)</a></span>
		
     </div>
   </li>


	<?php } }else{ ?>
		
		 <li class="online_user_list1">
    
          
           <div class="wk_cs_chat_buddies c_buddies">
           <span><span id="wk_cs_admin_signal" class="wk_cs_signal_on c_l online"></span>
           <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" ><img src="<?php echo $this->getSkinUrl('images/offline.jpg'); ?>" alt="">Send Message (Offline)</a></span>
		    
          </div>
      </li>
	<?php }?>
	</ul>
<?php } }?>


<style>
.overlay {position: fixed;top: 0;bottom: 0;left: 0;right: 0;width:100%;height:100%;background: rgba(0, 0, 0, 0.7);z-index:999999;display:none}
.common_popup{margin: 70px auto;padding: 20px;background: #fff;border-radius: 5px;width: 30%;position: relative;transition: all 5s ease-in-out;z-index:9999999;}

</style>

<script type="text/javascript">

    //<![CDATA[



    var Propertyform = new VarienForm('customerMessage', true);

    $('customerMessage').reset();

    //]]>

</script>
</body>
<?php if(($customerid) && ($groupId != '6') ) { ?>
	<script type="text/javascript">
		var $j = jQuery.noConflict();		
		function deselect(e) {
			  $j('.requeschattpop').slideFadeToggle(function() {
			    e.removeClass('selected');
			  });    
		}
		$j(function() {
		  $j('#contact').on('click', function() {
		    if($j(this).hasClass('selected')) {
		      deselect($j(this));               
		    } else {
		      $j(this).addClass('selected');
		      $j('.requeschattpop').slideFadeToggle();
		    }
		    return false;
		  });
	
		  $j('.requestclose').on('click', function() {
		    deselect($j('#contact'));
		    return false;
		  });
		});
	
		$j.fn.slideFadeToggle = function(easing, callback) {
		  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
		};
		
	    //<![CDATA[
	        <!--Calendar.setup({
	            inputField: "selected_date",
	            ifFormat: "%d/%m/%Y %H:%M:%S",
	            showsTime: true,
	            button: "date_select_trig",
	            align: "Bl",
	            singleClick : true,
	            disableFunc: function(date) {
	
	    			var now= new Date();
	    			if(date.getFullYear()<now.getFullYear())
	    			{
	    			return true;
	    			}
	    			if(date.getFullYear()==now.getFullYear())
	    			{
	    			if(date.getMonth()<now.getMonth())
	    			{
	    			return true;
	    			}
	    			}
	    			if(date.getMonth()==now.getMonth())
	    			{
	    			if(date.getDate()<now.getDate())
	    			{
	    			return true;
	    			}
	    			}
	    		},
	        });-->
	    //]]>
	
	    function requestchat() {
			var selected_Date = $j("#selected_date").val();
			if(selected_Date == '') {
				$j(".request_date_warning").show();
				return false;
			} else {
				$j(".request_date_warning").hide();
				return true;
			}
		}
	</script>
<?php } ?>
</html>