select {
    appearance: none;
    padding: 9px 12px;
    font-size: 1.214em;
    line-height: 1em;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    padding: 12px 12px;
    font-size: inherit;
    line-height: 1.1em;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
select:hover,
select:focus,
select.focus {
    box-shadow: none;
    outline: none;
}
#pageContent > .std > .content:first-child {
    /*padding-top: 0px;*/
    /*padding-top: 0px !important;*/
}
.cms-index-index #pageContent > .std > .content:first-child {
    /*padding-top: 0px;*/
    padding-top: 0px !important;
}
.currency__item--active a{font-weight: bold !important;}
.dropdown-menu.header_type_4  li  a {
    margin: 0px -18px;
    padding: 3px 18px;
    line-height: 1.7;
    white-space: nowrap;
}
.header--small .header__cart__indicator{ display: none}
.non-circle img,.non-circle *{border-radius: 0;}
.price-box .old-price,.price-box .special-price{ display: inline-block}
.price-box  .special-price .price{color: #F55582;font-weight: bold;}
/*.slick-vertical .old-price{ display: none}*/
#newsletter-validate-detail #advice-required-entry-email, #newsletter-validate-detail #advice-validate-email-email{ display: none}
body.boxed{ background-attachment: fixed}
body.fullwidth{ overflow-x: hidden}
body.customer-account-login,body.customer-account-create{ background-color: #F4F4F4; padding: 0}
.validation-advice{ /*margin-top: -5px;*/ margin-bottom: 10px}
.customer-account-login .validation-advice,.customer-account-create  .validation-advice{ margin-top: -5px; }
.contacts-index-index .validation-advice{ margin-top: 5px; margin-bottom: 0px}

.customer-account-create input[type=text],
.customer-account-create input[type=password]{
    background: #FFF none repeat scroll 0% 0%;
    border-color: #E3E3E3;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px transparent;
    box-sizing: border-box;
    color: #2B2B2B;
    font: 400 15.7833px/15.7833px "Roboto",sans-serif;
    height: 40px;
    margin: 0px 0px 15px;
    padding: 9px 12px;
    text-align: start;
    vertical-align: middle;
    width: 268px;
    -moz-appearance: none;
}

/*Blocks*/
.block .block-title strong span{
    box-sizing: border-box;
    color: #212121;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 24.2px;
    margin: 0px;
    padding: 0px 0px 33px;
    text-transform: uppercase;
}
.block .block-content li.item{
    border-bottom: 1px solid #F0F0F0;
    box-sizing: border-box;
    color: #212121;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: 18.2px;
    list-style: outside none none;
    padding: 10px 0px 10px 15px;
    position: relative;
    text-transform: uppercase;
}
.block-content ul{box-sizing: border-box;
    box-sizing: border-box;
    color: #212121;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: 18.2px;
    list-style: outside none none;
    margin: 0px 0px 15px;
    padding: 0px;
}
.block-content li::after {
    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    content: "»";
}
.block-account li:after{content: ""}
.block .block-content li.last {
    border-bottom: 0px solid #F0F0F0;
}
.input-text{
    background: #FFF none repeat scroll 0% 0%;
    border-color: #E3E3E3;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 0px 0px transparent;
    box-sizing: border-box;
    color: #2B2B2B;
    font: 400 15.7833px/15.7833px "Roboto",sans-serif;
    height: 40px;
    /*margin: 0px 0px 15px;*/
    padding: 9px 12px;
    text-align: start;
    -moz-appearance: none;
    width: 100%;
}

a.read-more,button.button,button.btn,a.button,a.opc-login-trigger,a.restore-account,a.back-link,p.back-link a{
    background: #536DFE none repeat scroll 0% 0%;
    border: 0px none #FFF;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font: 400 15.6833px/15.6833px "Roboto",sans-serif;
    height: 40px;
    list-style: outside none none;
    margin: 0px;
    outline: 0px none #FFF;

    padding: 12px 14px;
    text-align: center;
    text-decoration: none #FFF;

    transition-delay: 0s;
    transition-duration: 0.3s;
    -moz-user-select: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition:  box-shadow 300ms 0s ease;
    -moz-transition:  box-shadow 300ms 0s ease;
    -ms-transition:  box-shadow 300ms 0s ease;
    -o-transition:  box-shadow 300ms 0s ease;
    transition:  box-shadow 300ms 0s ease;
}

button:hover, a.read-more:hover,a.button:hover,button.btn:hover,a.opc-login-trigger:hover,a.restore-account:hover,a.back-link:hover,p.back-link a:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;

}

.btn--wd.btn--wait:hover
{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
    animation: 2s linear 0s normal none infinite progress-bar-stripes;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
}

.blog-search .input-text {
    margin-bottom: 4px;
    width: 160px;
}
.blog-search button{margin-top: -4px;}
.post p a.read-more{color: #fff;text-decoration: none; margin-top: 15px}
.post p a   .read-more .meta-nav{ display: none}
.post__meta__item .list-info li,.post__meta__item .list-info{display: inline-block}
.breadcrumb .post {
    margin-bottom: 0px;
}
.tags-list li {
    display: inline-block !important;
}
.list-info{
    margin-bottom: 25px;
    font-style: italic;
    text-align: right;
}
#respond{ margin-top:40px}
#respond .validation-advice {
    margin-top: 5px;
}
.tags-list li::after {
    content: "";
}
#shopping-cart-totals-table tbody > tr:first-child td{border: 0}

.checkout-cart-index .col-md-3.aside-column{ padding-top: 111px}
.fields .input-box{ margin-right: 20px}

.gallery__item__image__caption a{ color: #fff !important;}
.opc-index-index .customer-name-middlename input{ margin-bottom: 10px}
.opc-index-index .name-lastname input{ width: 189px}
.read-more  .meta-nav{ display: none}
.blog-widget__item__offset-text__teaser .read-more{ display: none}
.post .post__title{ font-size: 22px !important;}
.wordpress-index-index .pager{ display: none}
.posts-isotope a.read-more{ display: none}
.posts-isotope .post__title a{ font-size: 16px}
.posts-isotope .post-author,.posts-isotope .category{ visibility: hidden}
.posts-isotope .list-info li{ display: inline-block;}
.posts-isotope .post__meta li{ padding-bottom: 0}
.posts-isotope .list-info{ margin-bottom: 0; white-space: nowrap}
button.btn-number,.slick-next,.slick-prev,.mfp-arrow-left,.mfp-arrow-right,.mfp-close,button.close,.slick-dots button{ box-shadow: none !important;color: inherit !important;}
button.btn-number:hover{

    }
.product-info .price-box {
    font-size: 23px;
}

.review {
    padding: 0px 0px 20px;
    margin: 0px 0px;
    border-top-width: 0px;
    border-top-style: solid;
}
.form-add.reviews{ display: none}
.rating-links a{ color: #536DFE; font-size: 12px}

.options-swatch--lg li.selected{box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);}
.filterSize .filter-list li{ display: inline-block; margin-right: 10px}
.filterSize .filter-list .count{}
.checkbox-group label span.price{ display: inline-block !important;; position: relative!important;}
.progress-loading #loader-wrapper{ background: none}
.progress-loading .products-listing{ opacity: 0.3}
#ajax_loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10100;
    display: none;
}
#ajax_loader {
    border: 3px solid transparent;
    border-radius: 50%;
    display: block;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#ajax_loader:before {
    border: 3px solid transparent;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    -ms-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#ajax_loader:after {
    border: 3px solid transparent;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#ajax_loader {
    border-top-color: #536dfe;
}
#ajax_loader:before {
    border-top-color: #ef498b;
}
#ajax_loader:after {
    border-top-color: #FFC107;
}
#loader-wrapper {
    background-color:transparent !important;;
}
.block-layered-nav.not_ajax .checkbox-group input,
.block-layered-nav.not_ajax .checkbox-group .check,
.block-layered-nav.not_ajax .checkbox-group .box{ visibility: hidden;}
.block-layered-nav.not_ajax .checkbox-group label{ padding-left:0 }
.block-layered-nav.not_ajax .checkbox-group label:before{ content: "-"}
#quickView .product-main-image__zoom {
    position: absolute;
    z-index: 1;
}
#quickView .modal button.close {
    margin: 0px 17px 0 0;
}
.slick-vertical .products-widget__item__info__title h2 {
    height: 29px;
    overflow: hidden;
}
.slick-vertical p.special-price{ margin: 0}
.boxed.catalog-category-view  .content > .container{overflow: hidden}
.fullwidth .zoomWindowContainer,.fullwidth .zoomLens{display: none !important;}
.catalog-product-view .product-info .countdown_box{position: relative;transform: translateY(0%); margin-bottom: 20px !important;}
.catalog-product-view .countdown_inner{width: 100%}
/*.brands.brands-carousel{ height: 96px;}*/
.catalogsearch-result-index .page-title{ display: none}
.blog-widget__item__image-cell > div {
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    width: 213px;
    height: 213px;
    overflow: hidden;
    cursor: pointer;
}
.landing_blog > div{margin: 0 auto;
    margin-bottom: 27px;}
#tools ul {
    margin-top: 0px;
}
#tools .colors .colors-scheme{ margin: 0; padding: 0;list-style: none;}
#tools .colors .colors-scheme li{
    display: inline-block;
    margin: 0 3px 0 0; padding: 0;
}
#tools .colors .colors-scheme li > div
{

    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    padding: 0; margin: 0;
    height: 25px;
}
#tools .colors .colors-scheme li > div:hover{ opacity: 0.8}
#tools .colors .colors-scheme li > div > div{
    width: 24px;
    height: 23px;
    display: inline-block;
    margin: 0; padding: 0;
    float: left;
}
#tools .box-out {
    height: 397px;}
.cms-welldone-gallery.fullwidth .content .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.cms-welldone-gallery.fullwidth .title-outer{padding-left: 15px !important;}
.content.content--parallax {
    overflow:hidden-x;
}
.cms-welldone-home-page-art .content--fill{padding-top: 0px !important;padding-bottom: 0px !important;}
.header--transparent .logo img.logo-default {
    display:block;
}
#intro{ margin: 0; padding: 0 !important;}
.card--collapse  .form-list select {
    width: 100%;
}
.price-box p{ margin-bottom: 0}
.navbar.navbar-wd .nav > li > a span.link-name {
    padding: 7px 10px 15px;
}
.footer .li-col.list-user-menu h4{ display: none}
.dropdown-menu li{position: relative}
@media (max-width: 768px) {
    .checkout-cart-index .col-md-3.aside-column{ padding-top: 0px}
    .shopping-cart-btns button.pull-left,
    .shopping-cart-btns button.pull-right {
        float: none !important;
        margin: 0 !important;
    }
}
@media (max-width: 993px) {
    .addthis_toolbox{ margin-bottom: 40px}
}
