/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
/* ============================================ *
 * SCAFFOLD FORM
 * ============================================ */
/* Scaffolding can not be applied globally to all forms, since some forms are best displayed in a stacked layout */
.scaffold-form .form-list > li {
  display: block;
}
.scaffold-form .form-list > li:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form .fields {
  margin: 0;
  padding: 0;
}
.scaffold-form .fields:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form .fields > .fields,
.scaffold-form .field,
.scaffold-form .wide,
.scaffold-form .control {
  margin-bottom: 7px;
}
.scaffold-form .fields > .fields:after,
.scaffold-form .field:after,
.scaffold-form .wide:after,
.scaffold-form .control:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form label:first-child {
  float: left;
  width: 135px;
  padding: 7px 8px 0 0;box-sizing: border-box;
}
.scaffold-form select,
.scaffold-form textarea,
.scaffold-form input[type=email],
.scaffold-form input[type=search],
.scaffold-form input[type=number],
.scaffold-form input[type=password],
.scaffold-form input[type=tel],
.scaffold-form input[type=text] {
  width: 330px;
  max-width: 100%;
}
.scaffold-form .input-box {
  float: left;
  max-width: 350px;
}
.scaffold-form .buttons-set {
  padding-top: 5px;
}

@media only screen and (max-width: 599px) {
  .scaffold-form label:first-child {
    float: none;box-sizing: border-box;
    width: auto;
    padding: 0;
  }
  .scaffold-form .input-box {
    float: none;
    max-width: 100%;
  }
  .scaffold-form .control .input-box {
    clear: none;
    float: left;
    display: inline;
    width: auto;
  }
  .scaffold-form .control label:first-child {
    float: left;
  }
}
