/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
#supermenu {position: relative;font-size:15px;padding: 0px 0px 0px 0px;width: 100%;border-radius: 2px;height: auto;margin: 0 auto;  }
/*IE7 fix*/
*:first-child+html #supermenu {z-index: 998;}
div.menu {float: left;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px; line-height:38px;}
div.menu a:link, div.menu a:visited {display: block;height: 38px;padding-left:27.5px;padding-right:27.5px; font-family: 'Source Sans Pro', sans-serif; }
div.menu a span { display: block;  padding-right: 0px;  font-weight:600; }
div.menu a span:hover {cursor: pointer;}
div.super-menu-popup {position: absolute;z-index: 1000;display: none;text-align: left;padding: 10px 10px 10px 0px;border-top: 0;width:100%;margin-top: -1px;}
div.menu a, div.super-menu-popup a {color: #000;text-decoration: none;display:block;cursor: pointer;height: auto;}
div.super-menu-popup .level1{font-size:15px;font-weight:600}
div.level1 {margin-bottom: 5px;}
div.level2 {margin-bottom: 5px;}
div.level3, div.itemMenu{margin-bottom: 5px;padding: 4px;}
div.block2 {padding-top: 0px;padding-left: 10px;padding-right: 10px;display: block;}
a.level1:link, a.level1:visited {margin-top: 10px;margin-bottom: 10px;padding: 5px 10px;border-radius: 2px;}
a.level2:link, a.level2:visited {padding: 6px 10px;border-radius: 2px; }
/* Clearfix */
div.block2:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] div.block2 {display: block;}
* html div.block2 {height: 1%;}
div.block2 p {margin-bottom: 3px;line-height: 120%;color: #000;font-size: 11px;}
div.block2 p a {display: inline;}
div.block2 a img {opacity: .9;filter: alpha(opacity=90);}
div.block2 a:hover img {opacity: 1;filter: alpha(opacity=100);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
div.block2 .brand a:hover img {-webkit-transition: all 0;-moz-transition: all 0;-ms-transition: all 0;transition: all 0;}
div.super-menu-popup hr {margin: 0px 0px 10px 0px;}
/******************************************* COLUMN WIDTH ***************************** */
div.column {float: left;width: 20%; /* for 5 columns*/padding: 0px 1%;margin: 0px 0px 0px 0px;}
/*end COLUMN WIDTH  */
div.itemSubMenu {margin-left: 0px;}
.clearBoth {clear:both;height: 0;overflow: hidden;}
div.level1 {margin-bottom: 0px;}
/*BG*/
div.super-menu-popup {background: #fff;box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3); border:1px solid #ccc; }
div.menu a:hover {background: #ccc;}
div.menu a, div.super-menu-popup a {-webkit-transition: all .1s linear;-moz-transition: all .1s linear;-ms-transition: all .1s linear;transition: all .1s linear; }
div.menu .brand a, div.super-menu-popup .brand a {-webkit-transition: all 0s linear;-moz-transition: all 0s linear;-ms-transition: all 0s linear;transition: all 0s linear;}
div.menu.active a {background: #ccc;color: #000;}
/* div.level3 {background: #333;} */
/*FONTS*/
div.menu {font-weight: normal;text-transform: uppercase; height:38px; line-height:40px; }
a.level1:link, a.level1:visited {text-transform: none;font-weight: 300;}
a.level2:link, a.level2:visited {font-weight: 300;font-size: 13px;line-height: 16px;background: url(../images/menu-bullet.png) 11px 10px no-repeat !important;padding-left: 24px;}
.itemSubMenu .itemMenu .itemMenuName{padding: 6px 10px;font-weight: 300;font-size: 13px;line-height: 16px;background: url(../images/menu-bullet.png) 11px 10px no-repeat !important;padding-left: 24px;}
.itemMenu .itemSubMenu .itemMenuName:hover{color: #000;background:#ccc url(../images/menu-bullet.png) 11px 10px no-repeat !important;}
.itemMenu .itemMenuName:hover{ color: #000;background: #ccc; }
a.level3:link, a.level3:visited {font-size: 11px;font-weight: normal;line-height: 100%;margin-bottom: 0px;}
/*COLOR*/
div.menu a:link, div.menu a:visited{color: #000;}
#supermenu div.menu .parentMenu a{ border-right:1px solid #e4b813;  }
div.menu a:hover, div.menu.active a{color: #000; background: #e5b804;}
a.level3:link, a.level3:visited {color: #000;}
a.level3:hover {color: #b43f74;}
a.level2:link, a.level2:visited {color: #000;}
a.level2:hover {color: #45C03C;}
.block2 table.brand {float: left;}
.block2 .single_menu_product {float: left;position: relative;max-width: 150px;overflow: hidden;margin-right: 20px;margin-left: 0px;}

/*buttons level 01*/
.menu-mobile .parentMenu {padding: 0px 0px;display: block;text-align: left;border-bottom: 1px solid #dadada; font-size:14px; }
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {padding: 10px 0px 10px 10px;margin-right: 80px;color: #000;display: block;text-decoration: none;}
.menu-mobile .parentMenu:hover {cursor: pointer;}
.parentMenu {position: relative; height:40px;}
.parentMenu a {display: block;height:40px;}
#menu-button {cursor: pointer;}
.menu-mobile div.level2 {margin-bottom: 0;}
#supermenu-mobile .button {cursor: pointer;position: absolute;right: 1%;top: 0px;display: block;width: 80px;height: 38px;background-color: transparent;background-repeat: no-repeat;background-position: 90% 50%;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);}
#supermenu-mobile .button.open {background-color: transparent;background-repeat: no-repeat;background-position: 90% 50%;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);}
#supermenu-mobile .level1 .button {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);}
#supermenu-mobile .level1 .button.open {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);}
/*BG*/
#supermenu-mobile  .parentMenu:hover a:link, #supermenu-mobile  .parentMenu:hover a:visited, #supermenu-mobile  .parentMenu:hover {background-color: #fff;}
#supermenu-mobile .level0 {background-color: #f1f1f1;}
#supermenu-mobile .level1 {background-color: #e4e4e4;}
#supermenu-mobile .level2 {background-color: #f1f1f1;}

/*Navigation category images*/
#supermenu .block1{width:87%;float:left}
div .category-image-menu {float: right;width:135px; overflow:hidden; }