/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
  
/*-- Timer style
  -------------------------------------------------------------- */
.dealtimer_detailpage, .dealtimer_listpage{ float: left; width: 100%; padding-bottom: 10px; }
.dealtimer_detailpage .dealtimer_detailpage_offerlabel{ display: inline-block; padding-bottom:5px; padding-top:5px; }
.dealtimer_detailpage .dealtimer_detailpage_timer, .dealtimer_listpage .dealtimer_listpage_timer{ font-weight: bold; }
.dealtimer_detailpage .dealtimer_detailpage_timer span, .dealtimer_listpage .dealtimer_listpage_timer span{ display: inline-block; padding-right:5px; font-weight: bold; }
.dealtimer_detailpage .dealtimer_detailpage_timer .day_label, .dealtimer_listpage .dealtimer_listpage_timer day_label{ padding-right:10px; }
.dealtimer_detailpage .dealtimer_detailpage_timer .day, .dealtimer_listpage .dealtimer_listpage_timer day{ padding-right:2px; }
  
.deal_filters{ padding: 10px 0; }
.deal_filters select { margin-right: 20px; }

/*-- wish list and bundle product hide
  -------------------------------------------------------------- */
.block-wishlist .detail-deal-page-box, .product-options-bottom .detail-deal-page-box, .block-related .detail-deal-page-box{ display :none; }
.block-wishlist .dealtimer_detailpage, .product-options-bottom .dealtimer_detailpage, .block-related .dealtimer_detailpage{ display :none; }
.box-up-sell .detail-deal-page-box, .box-up-sell .dealtimer_detailpage{ display: none; }

.item {position: relative;}
.actions{left: 10px;}
.deal_filters .filter {margin-left:5px;margin-right:20px;}
.licensekey {text-align: center; color: red; font-size: 25px;}
.sidebar-price{width:auto;clear:both;float:left;}
.sidebar-img{float:right}

/* ####################################### */
/* ########### STANDARD SETUP ############ */
/* ####################################### */

.protoshow,
.protoshow .show {
position: relative;box-sizing: border-box;
margin: 0;
padding: 0;
list-style: none;
width: 900px;
height: 300px;
}

.slide {
position: absolute;
top: 0;
left: 0;
z-index: 90;
height: 100%;
}

.active-slide {
z-index: 100;
}

.protoshow .slide-caption {
position: absolute;
left: 0;
bottom: 0;
right: 0;
z-index: 100;
padding: 1em 10px;
background-color: #000;
background-color: rgba(0,0,0,.4);
color:#fff;
}

.proto-progress-timer {
position: relative;
display :none;
}

/* TRANSITION SLIDE
------------------------------------------------*/


.close {background: url(../superdeals/close.png) no-repeat;width: 20px;height: 20px;position: absolute;z-index: 9999;cursor: pointer;top: -5px;right: -5px;}
.transition-slide .show-window {overflow: hidden;position: relative; background: #fff;}
.transition-slide .show {position: absolute;top: 0;left: 0;overflow: hidden;}
.transition-slide .slide {position: static;float: left;display: block; width: 280px;height:75px;}

/* PROTO CONTROLS
------------------------------------------------*/

.proto-controls,
.proto-navigation {margin: 0;padding: 0;list-style: none;}
.proto-controls a:link,
.proto-controls a:visited,
.proto-navigation a:link,
.proto-navigation a:visited {
display: block;
text-indent: -9999px;
overflow: hidden;
}
.proto-controls li {margin-top:0;width: 7px;height: 14px;padding: 0;float: left;box-sizing: border-box;}
.proto-controls .backward{margin-right: 5px;}
.proto-controls .backward a{background: url(../superdeals/prev.png) no-repeat 0 0;}
.proto-controls .forward a{background: url(../superdeals/next.png) no-repeat 0 0;}
.proto-controls .forward {right: 10px;left: auto;margin-left: 5px;}
.proto-controls a {width: 7px;height: 14px;-moz-opacity: 0.7;filter:alpha(opacity=50);opacity: 0.7;}
.proto-controls a:hover,
.proto-controls a:focus {-moz-opacity: 1;filter:alpha(opacity=100);opacity: 1;}

/* PROTO NAVIGATION
------------------------------------------------*/
.proto-navigation {float: left; display: none;}
.proto-navigation li {float: left;padding: 13px 5px;}
.proto-navigation a {background-color: #fff;   background-color: rgba(0,0,0,.2);    height: 8px;    text-decoration: none;   width: 8px;
-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;
-moz-box-shadow: inset 0 1px 0 1px rgba(0,0,0,.1);-webkit-box-shadow: inset 0 1px 0 1px rgba(0,0,0,.1);box-shadow: inset 0 1px 0 1px rgba(0,0,0,.1);}
.proto-navigation a:hover,
.proto-navigation a:focus {background-color: #999;}
.proto-navigation .current-slide a {background-color: #fff;}
/*******************  Slider   ************************************/
.apptha_superdeals_primary-show{box-sizing: border-box;position: fixed;left: 0;bottom: 0;background: #000; z-index: 9999; padding: 0 5px 5px;width: 290px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topright: 5px;border-top-right-radius: 5px;}
.apptha_superdeals_primary-show .primary-show-container{box-sizing: border-box;position: relative; width: 280px; overflow: hidden;  padding: 3px 0 0;}
.apptha_superdeals_primary-show .banner_slide_image{float: left; width: 65px; margin: 5px;}
.apptha_superdeals_primary-show .banner_slide_desc{float: left; text-align: left; width: 200px;}
.apptha_superdeals_primary-show .product-name{font-weight: bold; margin-top: 5px;}
.apptha_superdeals_primary-show .banner_title{font-weight: bold;font-size: 12px;color: #fff;text-align: left;margin: 0 0 3px 0;}
.footer .apptha_superdeals_primary-show li {background: transparent; padding: 0;}
.apptha_superdeals_primary-show .proto-controls .start-stop{display: none;}
.apptha_superdeals_primary-show .proto-controls {position: absolute;right: 0;bottom: 5px;width: 30px;height: 15px;}
.primary-show-container .banner_slide_desc .product-name{max-height: 35px; overflow:hidden}
#second_grid{width:125px;}
.deal_slider{position: relative;}
.original_price{display: block; float: left; font-size: 11px; color: #666; text-decoration: line-through; padding-top: 6px; padding-bottom: 3px; line-height: 12px;}
.offer_price{display: block; float: left; font-size: 11px; color: #333; font-weight: bold; padding-left: 5px; padding-top: 6px; padding-bottom: 3px; line-height: 12px;}
.discount_label{clear: left;display: block; float: left; font-size: 11px; font-weight: normal; color: #000; line-height: 12px;}
.discount_price{display: block;float: left;font-size: 11px;font-weight: normal;color: #c80303;padding-left: 5px;line-height: 12px;margin-top: 0;}
.deal-products .product-details span {  font-size: 14px;  margin: 5px 0; width:100%; clear:both; }
.deal-products .sale-label {  position: absolute;  top: 0;  font-size: 11px;  background: #F37020;  color: #fff;  top: 167px;  left: 11px;  padding: 1px 6px;  font-weight: 600;  text-transform: uppercase;  border-radius: 1.5px;  -moz-border-radius: 1.5px;  -o-border-radius: 1.5px;  -weblit-sborder-radius: 1.5px;}
.block-dealofday .mini-products-list .product-details {  margin-left: 70px;}
.block-dealofday .mini-products-list .product-details .product-name{ padding:0; }

/*changes in separate theme*/

.products-grid .product-image img {  width: 100%;}
.category-filter, .period-filter, .filter {  float: left;}
.deal_filters{ width:100%; display:inline-block; }
.col-left .block .product-details{ }
.col-left .block .product-details span{ margin:3px; padding:0; font-size:14px; line-height:normal;} 
.col-right .block .product-details span{ margin:3px; padding:0; font-size:14px; line-height:normal; } 