<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper" class="apptha_checkout-review-table-wrapper">
    <table  class="onestepcheckout-summary apptha_checkout-review-table" id="checkout-review-table">
        <?php if ($this->helper('tax')->displayCartBothPrices()):
         $colspan = $rowspan = 2;
         else: $colspan = $rowspan = 1;
          endif; ?>
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
        <col width="1" />
        <?php endif; ?>
        <thead>
            <tr>
                <th rowspan="<?php echo $rowspan ?>" class="name" style="width:200px;"><?php
                 echo $this->__('Product Name') ?></th>
                <th colspan="<?php echo $colspan ?>" style="font-weight:bold;" class=""><?php
                 echo $this->__('Price') ?></th>
                <th rowspan="<?php echo $rowspan ?>"
                 class="qty"><?php
                 echo $this->__('Qty') ?></th>
                <th colspan="<?php echo $colspan ?>" 
                class="total"><?php
                 echo $this->__('Subtotal') ?></th>
            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                <tr>
                    <th class="a-right">
                    <?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?>
                    </th>
                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?>
                    </th>
                    <th class="a-right"><?php 
                    echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th><?php
                     echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                </tr>
            <?php endif; ?>
        </thead>
        <?php echo $this->getChildHtml('totals'); ?>
        <tbody>
        <?php foreach($this->getItems() as $item): ?>
            <?php echo $this->getItemHtml($item)?>
        <?php endforeach ?>
        </tbody>
    </table>
</div>
<?php echo $this->getChildHtml('items_after'); ?>
<script type="text/javascript">
//<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
//]]>
</script>

