<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
<?php 

$_item = $this->getItem()?>
<tr>
    <td><h3 class="product-name"><?php echo $this->htmlEscape($this->getProductName()) ?></h3>
        <?php if ($_options = $this->getOptionList()):?>
        <dl class="item-options">
            <?php foreach ($_options as $_option) : ?>
            <?php $_formatedOptionValueOptions = $this->getFormatedOptionValue($_option) ?>
            <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
            <dd<?php if (isset($_formatedOptionValueOptions['full_view'])):
             ?> class="truncated"<?php 
            endif; ?>><?php echo $_formatedOptionValueOptions['value'] ?>
                <?php if (isset($_formatedOptionValueOptions['full_view'])): ?>
                <div class="truncated_full_value">
                    <dl class="item-options">
                        <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                        <dd><?php echo $_formatedOptionValueOptions['full_view'] ?></dd>
                    </dl></div>
                <?php
                 endif; ?>
            </dd>
            <?php 
            endforeach; ?>
        </dl>
        <?php endif;?>
        <?php 
        if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
            <?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif;?>
    </td>
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <td class="a-right">
        <?php 
        if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total" 
            onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>
      <?php
       if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
            <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
            <?php endif; ?>
      </span>
       <?php
        if (Mage::helper('weee')->getApplied($_item)): ?>
       <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?php echo $tax['title']; ?>: <?php
                         echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?>
                         </span><br />
                    <?php endforeach; ?>
                    </small>
                <?php 
                elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><small><?php echo $tax['title']; ?>: <?php
                         echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?>
                         </small>
                         </span><br />
                    <?php endforeach; ?>
                <?php 
                elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php 
                    foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr">
                        <?php
                         echo $tax['title']; ?>: 
                         <?php
                         echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?>
                         </span>
                         <br />
                    <?php endforeach;
                     ?>
                    </small>
                     <?php 
                     else :
                         echo '';
                         ?> 
                <?php endif;
                 ?>
            </div>

            <?php 
            if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total"
                 onclick="taxToggle('eunit-item-tax-details<?php
                  echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <span class="nobr">
                    <?php echo Mage::helper('weee')->__('Total'); ?>:
                    <br /> 
                    <?php
                     echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                </div>
            <?php endif; 
            ?>
        <?php endif;
         ?>
    </td>
    <?php endif; 
    ?>
    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()):
     ?>
    <td>
        <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): 
        ?>
            <span class="cart-tax-total"
             onclick="taxToggle('unit-item-tax-details<?php 
             echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php else:
         ?>
            <span class="cart-price">
        <?php endif; 
        ?>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
            <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
            <?php endif; ?></span>
        <?php if (Mage::helper('weee')->getApplied($_item)): ?>
     <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php
                 if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php
                     foreach (Mage::helper('weee')->getApplied($_item) as $taxableInfo): ?>
                        <span class="nobr">
                        <?php echo $taxableInfo['title']; ?>: 
                        <?php
                         echo Mage::helper('checkout')->formatPrice($taxableInfo['amount'],true,true); ?>
                         </span>
                         <br />
                    <?php endforeach; ?>
                    </small>
                <?php 
                elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php 
                    foreach (Mage::helper('weee')->getApplied($_item) as $taxablePrice): ?>
                        <span class="nobr">
                        <small><?php echo $taxablePrice['title']; ?>: 
                        <?php
                         echo Mage::helper('checkout')->formatPrice($taxablePrice['amount_incl_tax'],true,true); ?>
                         </small>
                         </span>
                         <br />
                    <?php endforeach; ?>
                <?php
                 elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php
                     foreach (Mage::helper('weee')->getApplied($_item) as $taxableList): ?>
                        <span class="nobr">
                        <?php echo $taxableList['title']; ?>: 
                        <?php
                         echo Mage::helper('checkout')->formatPrice($taxableList['amount_incl_tax'],true,true); ?>
                         </span>
                         <br />
                    <?php endforeach; ?>
                    </small>
                     <?php else :
                         echo '';
                         ?> 
                <?php endif; ?>
            </div>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php
                     echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </td>
    <?php endif; ?>
    <td class="a-center"><?php echo $_item->getQty() ?></td>
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <td class="a-right">
        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total"
             onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php
         else: ?>
            <span class="cart-price">
        <?php endif;
         ?>
<?php 
            if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php 
                echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
            <?php
             else: ?>
                <?php 
                echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
            <?php
             endif; ?>
            </span>
        <?php if (Mage::helper('weee')->getApplied($_item)): ?>
      <div class="cart-tax-info"
       id="esubtotal-item-tax-details<?php 
       echo $_item->getId(); ?>" 
       style="display:none;">
                <?php
                 if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $taxableAmt): ?>
                        <span class="nobr">
                        <?php echo $taxableAmt['title']; ?>: 
                        <?php
                         echo Mage::helper('checkout')->formatPrice($taxableAmt['row_amount'],true,true); ?>
                         </span><br />
                    <?php endforeach; ?>
                    </small>
                <?php 
                elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $taxes): ?>
                        <span class="nobr">
                        <small><?php echo $taxes['title']; ?>:
                         <?php
                         echo Mage::helper('checkout')->formatPrice($taxes['row_amount_incl_tax'],true,true); ?>
                         </small>
                         </span>
                         <br />
                    <?php endforeach; ?>
                <?php
                 elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php 
                    foreach (Mage::helper('weee')->getApplied($_item) as $taxinfo): ?>
                        <span class="nobr">
                        <?php echo $taxinfo['title']; ?>:
                         <?php
                         echo Mage::helper('checkout')->formatPrice($taxinfo['row_amount_incl_tax'],true,true); ?>
                         </span>
                         <br />
                    <?php endforeach; ?>
                    </small>
                     <?php else :
                         echo '';
                         ?> 
                <?php endif; ?>
            </div>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" 
                onclick="taxToggle('esubtotal-item-tax-details<?php 
                echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <span class="nobr">
                    <?php echo Mage::helper('weee')->__('Total'); ?>:
                    <br /> 
                    <?php
                     echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
                     </span>
                </div>
            <?php endif; ?>
        <?php endif; ?></td>
    <?php endif; ?>
    <?php
     if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <td>
        <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
        <?php
         if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total" 
            onclick="taxToggle('subtotal-item-tax-details<?php

            echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
            <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
            <?php endif; ?>

        </span>


        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

            <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr">
                        <?php echo $tax['title']; ?>: 
                        <?php
                         echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                    </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr">
                        <small>
                        <?php echo $tax['title']; ?>:
                         <?php
                         echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small>
                         </span>
                         <br />
                    <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?php echo $tax['title']; ?>: <?php
                         echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
                         <br />
                    <?php endforeach; ?>
                    </small>
                      <?php else :
                         echo '';
                         ?>                    
                <?php endif; ?>
                </div>
  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): 
  ?>
                <div 
                onclick="taxToggle('subtotal-item-tax-details<?php 
                echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');"
                class="cart-tax-total" >
                    <span class="nobr">
                    <?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> 
                    <?php
                     echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                </div>
            <?php endif; ?>
        <?php endif; ?></td>
    <?php endif; ?>
</tr>
