.wk_cs_chatwindow{
	border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    box-shadow: 0 0 5px 2px #7E7E7E;
	bottom: -4px;
    position: fixed;
    right: 60px;
    width: 250px;
    z-index: 999;
}
.wk_cs_chat_top{background: none repeat scroll 0 0 #000;height: 30px;padding-bottom: 5px;padding-right: 14px;padding-top: 4px;}
.wk_cs_admin_signal{float: left;height: 11px;margin: 6px 0 0 10px;width: 11px;}
.wk_cs_fullscreen{background: url("../images/chat-btn.png") repeat scroll -6px -461px transparent;display: block;height: 12px;width: 12px;}
.wk_cs_chat_close_btn{background: url("../images/chat-btn.png") repeat scroll -6px -380px transparent;display: block;height: 12px;width: 12px;}
.wk_cs_smallscreen{background: url("../images/chat-btn.png") repeat scroll -6px 149px transparent;display: block;height: 11px;width: 11px;}
.wk_cs_show{background: url("../images/chat-btn.png") repeat scroll -55px 430px transparent;display: block;height: 2px;width: 10px;}
.wk_cs_hide{background: url("../images/chat-btn.png") repeat scroll -55px 430px transparent;display: block;height: 2px;margin-top: 4px;width: 10px;}
.wk_cs_chat_container{height: 250px;display: none;background: none repeat scroll 0 0 #FFFFFF;}
.wk_cs_chat_btn{display: block;float: right;height: 12px;padding: 6px;margin-left:10px;width: 13px;cursor: pointer;}
.wk_cs_enter_text_small{height: 31px;line-height: 15px;overflow-y: auto;padding: 3px;resize: none;width: 235px;}
.wk_cs_enter_text_container_small{height: 40px;padding: 3px;width: 244px;}
.wk_cs_chat_list_small{cursor: default;display: block;height: 197px;overflow-y: auto;padding: 3px 3px 0;}
.wk_cs_enter_text_big{height: 31px;line-height: 15px;overflow-y: auto;padding: 3px;resize: none;width: 486px;}
.wk_cs_enter_text_container_big{height: 40px;padding: 3px;width: 494px;}
.wk_cs_chat_list_big{cursor: default;display: block;height: 447px;overflow-y: auto;padding: 3px 3px 0;}
.wk_cs_chat_moveable_list{display: block; height: auto;width: 100%;}
.wk_cs_chat{padding: 5px;word-wrap: break-word;}
.wk_cs_chat_myname{color: #006BFF;}
.wk_cs_chat_name{color: #00851D;}
.wk_cs_chat_content{color: #3E3D3D;}
.wk_cs_chat_ref{color: #000000;display: inline-block;font-weight: bold;}
.wk_cs_laugh{background-position: -25px 0;}
.wk_cs_smoking{background-position: 0 0;}
.wk_cs_smirking{background-position: -50px 0;}
.wk_cs_derp{background-position: -75px 0;}
.wk_cs_love{background-position: -100px 0;}
.wk_cs_cool{background-position: -125px 0;}
.wk_cs_lol{background-position: 0 -25px;}
.wk_cs_worship{background-position: -25px -25px;}
.wk_cs_angry{background-position: -75px -25px;}
.wk_cs_sad{background-position: -100px -25px;}
.wk_cs_cry{background-position: 0 -50px;}
.wk_cs_dont_talk{background-position: -25px -50px;}
.wk_cs_hungry{background-position: -50px -50px;}
.wk_cs_devil{background-position: -100px -50px;}
.wk_cs_sleepy{background-position: -125px -50px;}
.wk_cs_smile{background-position: 0 25px;}
.wk_cs_look{background-position: -25px 25px;}
.wk_cs_whistle{background-position: -50px 25px;}
.wk_cs_sweat{background-position: -75px 25px;}
.wk_cs_injured{background-position: -100px 25px;}
.wk_cs_sick{background-position: -125px 25px;}
.wk_cs_emoticons_container{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #8B8B8B;
    bottom: 41px;
    height: 82px;
    padding: 5px;
    position: absolute;
    right: -16px;
    width: 194px;
    display: none;
    border-radius: 5px;
}
.wk_cs_emoticons{
    background-image: url("../images/emoticons.png");
    background-size: 150px auto;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-right: 2.5px;
    width: 25px;
}
.wk_cs_arrow{border-color: #8B8B8B transparent transparent;border-style: solid;border-width: 15px 15px 0;bottom: -15px;position: absolute;right: 13px;}
.wk_cs_icon_emoteicon{
    background: url("../images/icon_emoteicon.png") no-repeat scroll -1px -1px transparent;
    bottom: 12px;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 5px;
    width: 17px;
}
.wk_cs_fetch_content_limit{display: none;}
.wk_cs_loader{background: url("../images/loader.gif") no-repeat scroll 0 0 #fff;display: none;height: 16px;margin: 0 auto;width: 17px;}
.wk_cs_loader_container{position: absolute;text-align: center;top: 44px;width: 91%;}
.wk_cs_user_name{
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    text-transform: capitalize;
}
.wk_cs_user_showname{
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    text-transform: capitalize;
}
#wk_cs_buddy_list_container{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 5px solid #4B4949;
    height: 98.6%;
    left: -255px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 100;
}
#wk_cs_buddy_list_opener{
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #4B4949;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    padding: 3px 10px;
    position: absolute;
    right: -67px;
    top: 100px;
}
#wk_cs_buddy_list_opener_icon{background: url("../images/sprite.png") repeat -186px -98px;display: block;height: 22px;width: 37px;}
#wk_cs_buddy_list{height: 100%;overflow-y: auto;}
.wk_cs_chat_buddies{
cursor: pointer;
    color: #fff !important;
    text-align: center;
    width: 164px;
/*     margin-left: 150px; */
}
.wk_cs_chat_buddies1{

  
    cursor: pointer;
    color: #fff !important;
    text-align: center;
/*     width: 164px; */
/*     margin-left: 150px; */
}
li.online_user_list1 {
/*        FLOAT: LEFT; */
/*     POSITION: RELATIVE; */
/*     RIGHT: 124PX; */
/*     WIDTH: 51%; */
/*     TOP: 42PX; */

   
}
.wk_cs_chat_buddies1 a {
    COLOR: rgba(0, 146, 0, 0.81);
}
li.online_user_list1 img{width:20%;vertical-align:middle}
.wk_cs_buddy_icon{
    background: url("../images/sprite.png") repeat scroll -194px -143px transparent;
    display: inline-block;
    height: 25px;
    left: -15px;
    position: relative;
    width: 24px;
}
.wk_cs_chat_buddies.c_buddies a {
    color:rgba(255, 0, 0, 0.7);
}