<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<?php 
$bannerSliderEnabled = Mage::getStoreConfig('bannerslider/general/enabled');
if($bannerSliderEnabled){
$bannerSliderImages = $this->getBannerSliders ();
?>
<div id="apptha_bannerslider" class="owl-carousel">
<?php foreach ($bannerSliderImages as $sliderImage){ ?>
<?php
	$sliderImageFile = $sliderImage->getFile ();
	if (! empty ( $sliderImageFile )) {		?>
<div class="item"><a
		href="<?php
		$sliderImageLink = $sliderImage->getLink ();
		if (! empty ( $sliderImageLink )) {
			echo $sliderImageLink;
		} else {
			echo 'javascript:void(0)';
		}
		?>"><img
			src="<?php echo Mage::getBaseUrl('media').$sliderImageFile; ?>"
			alt="<?php echo $sliderImage->getName(); ?>" /></a></div>
<?php } ?>
<?php } ?>
</div>
<script type="text/javascript">
<!-- Banner slider js -->
APPTHA(document).ready(function($){
	 $("#apptha_bannerslider").owlCarousel({ 
	      navigation : 1,
	      slideSpeed : 200,	        
	      singleItem:true,
	      transitionStyle : "fade",
	      autoPlay:true,
	      responsiveBaseWidth:window
	  });

	});
</script>
<?php } ?>
