/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.8.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */

.side-col .sociallogin_logo, .main-col .sociallogin_logo{ background: url(social_icons.png) no-repeat !important; }

.side-col .sociallogin_logo
{
    width: 95px;
    height: 20px;
    float: left;
}
.side-col .sociallogin_text
{
    float: left; 
    padding-left: 1px;
    margin-top: 2px;
}
.clear
{
    clear:both;
}
.main-col .sociallogin_logo
{
    width: 100px;
    height: 20px;
    float: left;
    margin-top: 5px;
    padding-bottom: 0;
    box-sizing:border-box; 
}
.main-col .sociallogin_text
{
    float: left; 
    padding-left: 1px;
    margin-top: 6px;
}